<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Cache-Control" content="no-cache"/> 
<meta http-equiv="pragma" content="no-cache"/> 
<meta http-equiv="expires" content="-1"/> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Budget Sifac - version :  0.1 | 2016</title>
<link href="/site_media/css/styl.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" language="javascript" src="/site_media/js/lib.js"></script>
<script type="text/javascript" language="javascript">
var pb = 4;
</script>
</head>

<body class="fl-theme-app">
<div id="header" class="app-header fl-container-auto">
<div class="logo"></div><div class="header_suite">
<div id="titreAppli" class="titreAppli">
<span class="span_bigTitre">BudgetWeb</span><br/>
<span class="span_titre">Application de gestion du budget Sifac par le web</span>
</div>
<div class="user_displayName">
<span class="span_currentUser"></span>
</div>
<div class="version">
<span class="span_version">Version  0.1 | 2016</span>
</div></div></div><div id="welcomepages"><div class="app-body"><div class="app-content">
<div class=""></div>
<br/>
<form id="form1" name="form1" method="post" action=".">

		<a href=".">Accueil</a> > 	<br />
	<br />
	<a href="?ag=1">agréger</a>
		<br />
	<br />
	<table cellpadding="0" cellspacing="0" width='98%' align='center'>
		<tr class="th">
			<th rowspan="2"><span class="cf">CF</span> / <span class="cp">Rec.</span> / <span class="cc">D&eacute;p.</span></th>
							<td class="bl">&nbsp;</td>
				<th colspan="2">Budget initial (BP)</th>
				<td class="bl">&nbsp;</td>
				<th colspan="2">Transferts</th>
				<td class="bl">&nbsp;</td>
				<th colspan="2">Ress.Affect.</th>
				<td class="bl">&nbsp;</td>
				<th colspan="2">DBM (DM1)</th>
							<td class="bl">&nbsp;</td>
			<th colspan="3">Budget actualis&eacute;</th>
		</tr>
		<tr class="th">
							<td class="bl">&nbsp;</td>
				<th>dép.</th>
				<th>rec.</th>
				<td class="bl">&nbsp;</td>
				<th>dép.</th>
				<th>rec.</th>
				<td class="bl">&nbsp;</td>
				<th>dép.</th>
				<th>rec.</th>
				<td class="bl">&nbsp;</td>
				<th>dép.</th>
				<th>rec.</th>
							<td class="bl">&nbsp;</td>
			<th>dép.</th>
			<th>rec.</th>
			<th>bal.</th>
		</tr>
			</table>
	
	<br />

	</form>

</body>
</html>

