<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="expires" content="-1"/>
<link href="/site_media/css/styl.css" rel="stylesheet" type="text/css" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Budget Sifac - version :  0.1 | 2016</title>

<script type="text/javascript" language="javascript">
<script type="text/javascript" language="javascript" src="/site_media/js/lib.js"></script>

var pb = 4;
</script>
</head>

<body class="fl-theme-app">
<div id="header" class="app-header fl-container-auto">
<div class="logo"></div><div class="header_suite">
<div id="titreAppli" class="titreAppli">
<span class="span_bigTitre">BudgetWeb</span><br/>
<span class="span_titre">Application de gestion du budget Sifac par le web</span>
</div>
<div class="user_displayName">
<span class="span_currentUser"></span>
</div>
<div class="version">
<span class="span_version">Version  0.1 | 2016</span>
</div></div></div><div id="welcomepages"><div class="app-body"><div class="app-content">
<div class=""></div>
<br/>
<form id="form1" name="form1" method="post" action=".">

		<a href=".">ici Accueil</a> > 	<br />
	<br />
	<a href="?ag=1">agréger</a>
		<br />
	<br />
	<table cellpadding="0" cellspacing="0" width='98%' align='center'>
		<tr class="th">
			<th rowspan="2"><span class="cf">CF</span> / <span class="cp">Rec.</span> / <span class="cc">D&eacute;p.</span></th>
							<td class="bl">&nbsp;</td>
				<th colspan="2">Budget initial (BP)</th>
				<td class="bl">&nbsp;</td>
				<th colspan="2">Transferts</th>
				<td class="bl">&nbsp;</td>
				<th colspan="2">Ress.Affect.</th>
				<td class="bl">&nbsp;</td>
				<th colspan="2">DBM (DM1)</th>
							<td class="bl">&nbsp;</td>
			<th colspan="3">Budget actualis&eacute;</th>
		</tr>
		<tr class="th">
							<td class="bl">&nbsp;</td>
				<th>dép.</th>
				<th>rec.</th>
				<td class="bl">&nbsp;</td>
				<th>dép.</th>
				<th>rec.</th>
				<td class="bl">&nbsp;</td>
				<th>dép.</th>
				<th>rec.</th>
				<td class="bl">&nbsp;</td>
				<th>dép.</th>
				<th>rec.</th>
							<td class="bl">&nbsp;</td>
			<th>dép.</th>
			<th>rec.</th>
			<th>bal.</th>
		</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits"></span>
					<a href="?devstr=-1040#1040">
			<img src="/site_media/images/moins.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="1040">
		<a class="cf info" href="?devstr=-1040#1040">ETAB <span> UNIVERSITE DE STRASBOURG HORS SACD</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1040&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1040&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1040&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1040&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1040&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1040&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1040&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1040&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=1040" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1040" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1040" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cpover(this)" onmouseout="cpout(this)" class="thcp"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
				<!-- position:relative -->
		<a style='padding-top:120px;' name="1210">
		<a class="cp info" href="?idstr=1210#1210">ETAB <span> UNIVERSITE DE STRASBOURG HORS SACD</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1210&pb=1" class="cp">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1210&pb=1" class="cp">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1210&pb=2" class="cp">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1210&pb=2" class="cp">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1210&pb=3" class="cp">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1210&pb=3" class="cp">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1210&pb=4" class="cp">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1210&pb=4" class="cp">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=1210" class="cp">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1210" class="cp">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1210" class="cp">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="ccover(this)" onmouseout="ccout(this)" class="thcc"><td class="tx"><span class="traits">&nbsp;&#9474;&nbsp;&#9492;</span>
				<!-- position:relative -->
		<a style='padding-top:120px;' name="39959">
		<a class="cc info" href="?idstr=39959#39959">ETAB <span> UNIVERSITE DE STRASBOURG HORS SACD</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=39959&pb=1" class="cc">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt">&nbsp;</td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=39959&pb=2" class="cc">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt">&nbsp;</td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=39959&pb=3" class="cc">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt">&nbsp;</td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=39959&pb=4" class="cc">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt">&nbsp;</td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=39959" class="cc">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt">&nbsp;</td>
	<td class="mt">&nbsp;</td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=72#72">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="72">
		<a class="cf info" href="?devstr=72#72">APS <span> UFR STAPS</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=72&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=72&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=72&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=72&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=72&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=72&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=72&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=72&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=72" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=72" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=72" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=81#81">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="81">
		<a class="cf info" href="?devstr=81#81">ART <span> UFR DES ARTS</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=81&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=81&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=81&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=81&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=81&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=81&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=81&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=81&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=81" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=81" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=81" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=88#88">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="88">
		<a class="cf info" href="?devstr=88#88">CHM <span> FACULTE DE CHIMIE</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=88&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=88&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=88&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=88&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=88&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=88&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=88&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=88&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=88" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=88" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=88" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=97#97">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="97">
		<a class="cf info" href="?devstr=97#97">CPI <span> CTRE ETU INTERNAT PPRIETE INTELLECTUELLE</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=97&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=97&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=97&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=97&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=97&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=97&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=97&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=97&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=97" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=97" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=97" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=105#105">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="105">
		<a class="cf info" href="?devstr=105#105">CUJ <span> CENTRE UNI D'ENSEIGNEMENT DU JOURNALISME</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=105&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=105&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=105&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=105&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=105&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=105&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=105&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=105&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=105" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=105" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=105" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=172#172">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="172">
		<a class="cf info" href="?devstr=172#172">DRT <span> FACULTE DE DROIT</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=172&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=172&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=172&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=172&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=172&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=172&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=172&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=172&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=172" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=172" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=172" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=190#190">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="190">
		<a class="cf info" href="?devstr=190#190">EAV <span> ESPACE AVENIR</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=190&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=190&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=190&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=190&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=190&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=190&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=190&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=190&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=190" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=190" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=190" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=200#200">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="200">
		<a class="cf info" href="?devstr=200#200">ECP <span> ECOLE DE CHIMIE, POLYMERES ET MATERIAUX</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=200&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=200&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=200&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=200&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=200&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=200&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=200&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=200&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=200" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=200" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=200" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=213#213">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="213">
		<a class="cf info" href="?devstr=213#213">EDU <span> FACULTE DES SCIENCES DE L'EDUCATION</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=213&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=213&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=213&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=213&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=213&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=213&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=213&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=213&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=213" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=213" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=213" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=220#220">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="220">
		<a class="cf info" href="?devstr=220#220">EMS <span> ECOLE DE MANAGEMENT</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=220&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=220&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=220&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=220&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=220&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=220&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=220&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=220&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=220" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=220" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=220" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=1013#1013">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="1013">
		<a class="cf info" href="?devstr=1013#1013">EOT <span> ECOLE ET OBSERV. DES SC. DE LA TERRE</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1013&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1013&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1013&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1013&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1013&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1013&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1013&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1013&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=1013" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1013" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1013" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=1028#1028">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="1028">
		<a class="cf info" href="?devstr=1028#1028">ESB <span> ECOLE SUPERIEURE DE BIOTECHNOLOGIE</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1028&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1028&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1028&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1028&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1028&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1028&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1028&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1028&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=1028" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1028" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1028" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=1033#1033">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="1033">
		<a class="cf info" href="?devstr=1033#1033">ESP <span> TELECOM PHYSIQUE STRASBOURG</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1033&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1033&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1033&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1033&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1033&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1033&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1033&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1033&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=1033" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1033" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1033" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=1041#1041">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="1041">
		<a class="cf info" href="?devstr=1041#1041">GEO <span> FACULTE DE GEOGRAPHIE</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1041&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1041&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1041&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1041&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1041&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1041&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1041&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1041&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=1041" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1041" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1041" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=1046#1046">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="1046">
		<a class="cf info" href="?devstr=1046#1046">HIS <span> UFR SC HISTORIQUES</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1046&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1046&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1046&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1046&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1046&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1046&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=1046&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1046&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=1046" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1046" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=1046" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=5#5">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="5">
		<a class="cf info" href="?devstr=5#5">IDT <span> INSTITUT DU TRAVAIL</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=5&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=5&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=5&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=5&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=5&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=5&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=5&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=5&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=5" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=5" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=5" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=10#10">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="10">
		<a class="cf info" href="?devstr=10#10">IEF <span> INSTITUT INTERNAT D'ETUDES FRANCAISES</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=10&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=10&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=10&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=10&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=10&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=10&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=10&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=10&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=10" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=10" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=10" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=14#14">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="14">
		<a class="cf info" href="?devstr=14#14">IEP <span> INSTITUT D ETUDES POLITIQUES</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=14&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=14&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=14&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=14&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=14&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=14&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=14&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=14&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=14" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=14" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=14" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=28#28">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="28">
		<a class="cf info" href="?devstr=28#28">IFM <span> INSTITUT DE FORMATION DES MA?TRES</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=28&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=28&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=28&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=28&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=28&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=28&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=28&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=28&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=28" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=28" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=28" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=34#34">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="34">
		<a class="cf info" href="?devstr=34#34">IHA <span> IUT D'HAGUENAU</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=34&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=34&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=34&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=34&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=34&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=34&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=34&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=34&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=34" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=34" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=34" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=47#47">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="47">
		<a class="cf info" href="?devstr=47#47">ILL <span> IUT D'ILLKIRCH</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=47&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=47&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=47&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=47&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=47&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=47&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=47&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=47&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=47" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=47" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=47" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=57#57">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="57">
		<a class="cf info" href="?devstr=57#57">ISC <span> IUT LOUIS PASTEUR DE SCHILTIGHEIM</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=57&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=57&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=57&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=57&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=57&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=57&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=57&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=57&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=57" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=57" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=57" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=236#236">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="236">
		<a class="cf info" href="?devstr=236#236">LET <span> FACULTE DES LETTRES</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=236&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=236&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=236&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=236&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=236&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=236&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=236&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=236&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=236" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=236" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=236" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=240#240">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="240">
		<a class="cf info" href="?devstr=240#240">LGA <span> UFR DES LANGUES ET SCES HUMAINES APPL</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=240&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=240&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=240&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=240&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=240&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=240&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=240&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=240&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=240" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=240" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=240" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=247#247">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="247">
		<a class="cf info" href="?devstr=247#247">LVI <span> FACULTE DES LANGUES ET DES CULTURES ETRA</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=247&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=247&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=247&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=247&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=247&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=247&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=247&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=247&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=247" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=247" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=247" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=253#253">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="253">
		<a class="cf info" href="?devstr=253#253">MAI <span> UFR MATHS INFO</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=253&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=253&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=253&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=253&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=253&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=253&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=253&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=253&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=253" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=253" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=253" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=269#269">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="269">
		<a class="cf info" href="?devstr=269#269">MED <span> FACULTE DE MEDECINE</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=269&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=269&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=269&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=269&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=269&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=269&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=269&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=269&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=269" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=269" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=269" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=286#286">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="286">
		<a class="cf info" href="?devstr=286#286">ODO <span> FACULTE DE CHIRURGIE DENTAIRE</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=286&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=286&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=286&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=286&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=286&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=286&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=286&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=286&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=286" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=286" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=286" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=229#229">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="229">
		<a class="cf info" href="?devstr=229#229">PAG <span> INSTITUT PREPA ADMINISTRATION GENERALE</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=229&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=229&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=229&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=229&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=229&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=229&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=229&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=229&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=229" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=229" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=229" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
			</tr>
		<tr onmouseover="cfover(this)" onmouseout="cfout(this)" class="thcf"><td class="tx"><span class="traits">&nbsp;&#9500;</span>
					<a href="?devstr=293#293">
			<img src="/site_media/images/plus.png" class="pm" /></a>
					<!-- position:relative -->
		<a style='padding-top:120px;' name="293">
		<a class="cf info" href="?devstr=293#293">PAIE <span> GESTION PAIE UDS</span></a></td>

					<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=293&pb=1" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=293&pb=1" class="cf">5 046 087,00</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=293&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=293&pb=2" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=293&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=293&pb=3" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
				<td class="bl">&nbsp;</td>
			<td class="mt"><a href="?idstr=293&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=293&pb=4" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
						<td class="bl">&nbsp;</td>
		<td class="mt"><a href="?idstr=293" class="cf">-&nbsp; &nbsp; &nbsp;</a></td>
	<td class="mt"><a href="?idstr=293" class="cf">5 046 087,00</a></td>
	<td class="mt"><a href="?idstr=293" class="cf">5 046 087,00 <span class="attention">/!\</span></a></td>
			</tr>
			</table>

	<br />

	</form>

</body>
</html>
