{% extends 'base.html' %}

{% block content %}
<h1>Liste des autorisations</h1>


<form action="" method="POST">{% csrf_token %}
<TABLE id="bbf">
   <TR><TD>Utilisateur </TD><TD>
            <input type="text" name="name"></TD>
   </TR>
   <TR><TD>Objet </TD><TD>
            <input type="text" name="object"></TD>
   </TR>
       <input type="submit" value="chercher">
    </TABLE>
</form>

<br>
<br>

<a href="{% url 'authorisation_new' %}" class="top-menu"> Nouvelle autorisation<span class="glyphicon glyphicon-plus"></span></a>
<br>
<TABLE id="bbf">
<CAPTION> Tableau des autorisations </CAPTION>
<thead>
    <TH>Login de l'utilisateur</TH>
    <TH>Objet</TH>
    <TH> Supprimer</TH>
</thead>
<tbody>
{% for autorisation in Authorisations %}
<TR>
       <TD>{{ autorisation.username }}</TD>
       <TD>{{ autorisation.myobject }}</TD>
       <TD><a href="{% url 'authorisation_delete' pkauth=autorisation.pk %}">supprimer</a></TD>

</TR>
{% endfor %}
</tbody>
<tfoot>
     <tr><td> Total</td><td> {{ Authorisations.count }} entrees</td></tr>
</tfoot>
</TABLE>
<br>
<br>

{% endblock %}


