{% extends 'base.html' %}

{% block content %}

<br>
<br>
<br>
<br>

<TABLE border=1>
<CAPTION> Autorisation </CAPTION>
<thead>
    <TH> &nbsp Login de l'utilisateur &nbsp </TH>
    <TH> &nbsp Objet &nbsp </TH>
    <TH> &nbsp Supprimer &nbsp</TH>
</thead>
<tbody>
<TR>
       <TD>{{ Authorisation.username }}</TD>
       <TD>{{ Authorisation.myobject }}</TD>
       <TD><a href="{% url 'authorisation_delete' pkauth=Authorisation.pk %}">supprimer</a></TD>

</TR>
</tbody>
<tfoot>
</tfoot>
</TABLE>

       <TD><a href="{% url 'authorisation_list'%}">Retour à la liste</a></TD>

{% endblock %}
