<!DOCTYPE html>
{% load staticfiles %}
{% load dipstrapfiles %}
{% load myfilters %}
<html>
<head>
    <title>{% block title %}budgetweb{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content= 'Direction Informatique - Université de Strasbourg' />
    <link rel="stylesheet" href="{% dipstrap 'css/bootstrap-unistra.min.css' %}">
    <link rel="stylesheet" href="{% dipstrap 'css/bootstrap-theme-unistra.min.css' %}">
    <link rel="stylesheet" href="{% dipstrap 'css/main.css' %}">
    <link rel="stylesheet" href="/budgetweb/site_media/css/-styl.css">
    <link rel="stylesheet" href="{% static 'css/budgetweb.css' %}" type="text/css" title="no title" charset="utf-8" />
    <style>
     td { padding:0 15px 0 15px; }
    </style> 
    <script src="{% dipstrap 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    <script src="{% dipstrap 'js/vendor/jquery-1.11.0.min.js' %}"></script>
    <script src="{% dipstrap 'js/vendor/bootstrap.min.js' %}"></script>
   {% block head-javascript %}{% endblock %}
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <img class="pull-left" src="{% dipstrap 'img/unistra-white.png' %}" alt="unistra" />
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">budgetweb</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                       <li class="dropdown">
                       <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Menu BudgetWeb
                       <span class="caret"></span></a>
                       <ul class="dropdown-menu">
                          <li><a href="{% url 'liste_pfi_avec_depenses_recettes'%}">Menu PFI </a></li>
                          <li><a href="{% url 'structure_list2'%}">Menu structures </a></li>

                          <li><a href="{% url 'authorisation_list'%}">Liste des -autorisations-</a></li>
                          <li><a href="{% url 'naturecomptable_list'%}">Liste des -natures comptables-</a></li>
                          <li><a href="{% url 'comptebudget_list'%}">Liste des -comptes budg&eacutetaires-</a></li>
                          <li><a href="{% url 'domainefonctionnel_list'%}">Liste des -domaines fonctionnels-</a></li>
                          <li><a href="{% url 'structure_list'%}">Liste des -structures- </a></li>
                          <li><a href="{% url 'planfinancement_list'%}">Liste des -plans de financement- </a></li>
                          <li><a href="{% url 'depensefull_list'%}">Liste des -depenses-V2 </a></li>
                          <li><a href="{% url 'recettefull_list'%}">Liste des -recettes-V2 </a></li>
                          <li><a href="{% url 'periodebudget_list'%}">Liste des -P&eacuteriode budg&eacutetaire- </a></li>
                          <li><a href="#"> --- --- --- </a></li>
                          <li><a href="{% url 'comptanature_list'%}">D&eacutepenses - Liste des -natures comptables-</a></li>
                          <li><a href="{% url 'fondbudgetaire_list'%}">Recettes - Liste des -fonds budg&eacutetaires-</a></li>

                          <li><a href="#"> --- --- --- </a></li>
                          <li><a href="{% url 'authorisation_importcsv'%}">Import des autorisations</a></li>
                          <li><a href="{% url 'authorisation_deleteall'%}">Nettoyer la table des autorisations</a></li>
                          <li><a href="#"> --- --- --- </a></li>
                          <li><a href="{% url 'naturecomptable_importcsv'%}">Import des natures comptables</a></li>
                          <li><a href="{% url 'naturecomptable_deleteall'%}">Nettoyer la table des natures comptables</a></li>
                          <li><a href="#"> --- --- --- </a></li>
                          <li><a href="{% url 'domainefonctionnel_importcsv'%}">Import des domaines fonctionnels</a></li>
                          <li><a href="{% url 'domainefonctionnel_deleteall'%}">Nettoyer la table des domaines fonctionnels</a></li>
                          <li><a href="#"> --- --- --- </a></li>
                          <li><a href="{% url 'structure_importcsv'%}">Import des structures</a></li>
                          <li><a href="{% url 'structure_deleteall'%}">Nettoyer la table des structures</a></li>
                          <li><a href="#"> --- --- --- </a></li>
                          <li><a href="{% url 'planfinancement_importcsv'%}">Import des -plans de financement- </a></li>
                          <li><a href="{% url 'planfinancement_deleteall'%}">Nettoyer la table des -plans de financement-</a></li>
                          <li><a href="#"> --- --- --- </a></li>
                          <li><a href="{% url 'recettefull_deleteall'%}">Nettoyer la table des -recettes-</a></li>

                       </ul>
                    </li>
		    {% if user.is_authenticated %}
		    <li id="logout-menu"><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> ({{ request.user.username }})</a></li>
		    {% else %}
		    <li id="login-menu"><a href="/accounts/login/"><span class="glyphicon  glyphicon-log-out"></span></a></li>
		    {% endif %}
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container">
    {% block content %}
    Contenu de budgetweb
    {% endblock %}
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <footer>
            <div class="container">
                <p class="credit">&copy; Direction Informatique - Universit&eacute; de Strasbourg - {% now "Y" %}</p>
            </div>
        </footer>
    </div>
    {% block foot-javascript %}{% endblock %}
</body>
</html>
