{% extends 'base.html' %}

{% block content %}

<TABLE>
<CAPTION> Compte comptable </CAPTION>
<thead>
    <TH> Id app </TH>
    <TH> Id parent </TH>
    <TH> Nom </TH>
    <TH> Libellé </TH>
    <TH> Type R/D </TH>
    <TH> Input </TH>
    <TH> Type de contrôle </TH>
    <TH> Supprimer</TH>
</thead>
<tbody>
<TR>
       <TD> {{ reponse.ccid }}      </TD>
       <TD> {{ reponse.ccparent }}  </TD>
       <TD> {{ reponse.ccname   }}  </TD>
       <TD> {{ reponse.cclabel  }}  </TD>
       <TD> {{ reponse.cctype   }}  </TD>
       <TD> {{ reponse.ccinput  }}  </TD>
       <TD> {{ reponse.cctypectrl }}  </TD>
       <TD><a href="{% url 'comptecomptable_delete' pkcc=reponse.pk %}">supprimer</a></TD>

</TR>
</tbody>
<tfoot>
     <tr><td> Total</td><td> {{ reponse.count }} entrees</td></tr>
</tfoot>
</TABLE>

       <TD><a href="{% url 'comptecomptable_list'%}">Retour à la liste</a></TD>

{% endblock %}
