{% extends "base.html" %}
{% load staticfiles i18n budgetweb_tags %}
{% block head-additional %}
<link rel="stylesheet" href="{% static 'css/budgetweb.css' %}"/>
{% endblock %}

{% block content %}
<div class="col-md-12">
    {% include "detailspfi.html" %}
    {% include form_template %}
</div>

{% commentary_modal True %}
{% attachment_link_modal True %}

{% endblock %}
{% block foot-javascript %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $(document).ready(function() {
      var is_dfi_member_or_admin = {{ is_dfi_member_or_admin|yesno:"true,false" }};

      // NatureComptableDepense rulezzzz
      $("#supertable").on("change", ".form-naturecomptabledepense", function (e) {
          var idRegex = /id_form-(\d+).*/;
          var form_id = idRegex.exec(this.id)[1];
          var $nature = $("#id_form-" + form_id + "-naturecomptabledepense");

          if ($nature.val() != "") {
            $.getJSON("/api/naturecomptabledepense/rules/" + $nature.val() + "/", function(data) {
                // Première règle de gestion.
                if ( is_dfi_member_or_admin) {
                  if (data.is_decalage_tresorerie) {  // Si "décalage de trésorerie" = oui alors AE <> CP = DC
                    if ( $("#id_form-" + form_id + "-montant_dc").val().length == 0 )
                      $("#id_form-" + form_id + "-montant_dc").val($("#id_form-" + form_id + "-montant_cp").val());
                  }
                  if (data.is_non_budgetaire) { // Si "non budgétaire" = oui alors AE = CP = 0 et DC à saisir
                    if ( $("#id_form-" + form_id + "-montant_ae").val().length == 0 )
                      $("#id_form-" + form_id + "-montant_ae").val('0.00');
                    if ( $("#id_form-" + form_id + "-montant_cp").val().length == 0 )
                      $("#id_form-" + form_id + "-montant_cp").val('0.00');
                  }
                  if (data.is_pi_cfg) { // Si "PI/CFG" = oui alors AE = DC et CP = 0
                    if ( $("#id_form-" + form_id + "-montant_cp").val().length == 0 )
                      $("#id_form-" + form_id + "-montant_cp").val('0.00');
                    if ( $("#id_form-" + form_id + "-montant_dc").val().length == 0 )
                      $("#id_form-" + form_id + "-montant_dc").val($("#id_form-" + form_id + "-montant_ae").val());
                  }
                  if ( !data.is_decalage_tresorerie && !data.is_non_budgetaire && !data.is_pi_cfg){
                    if ( $("#id_form-" + form_id + "-montant_cp").val().length == 0 )
                      $("#id_form-" + form_id + "-montant_cp").val($("#id_form-" + form_id + "-montant_ae").val());
                    if ( $("#id_form-" + form_id + "-montant_dc").val().length == 0 )
                      $("#id_form-" + form_id + "-montant_dc").val($("#id_form-" + form_id + "-montant_ae").val());
                  }
                }
                // Dans le cas où je suis gestionnaire financier.
                else {
                  if (data.is_decalage_tresorerie) {  // Si "décalage de trésorerie" = oui alors AE <> CP = DC
                    $("#id_form-" + form_id + "-montant_ae").prop("readonly", false);
                    $("#id_form-" + form_id + "-montant_cp").prop("readonly", false);
                    $("#id_form-" + form_id + "-montant_dc").prop("readonly", true);
                    $("#id_form-" + form_id + "-montant_dc").val($("#id_form-" + form_id + "-montant_cp").val());
                  }
                  if (data.is_non_budgetaire) { // Si "non budgétaire" = oui alors AE = CP = 0 et DC à saisir
                    $("#id_form-" + form_id + "-montant_ae").prop("readonly", true);
                    $("#id_form-" + form_id + "-montant_cp").prop("readonly", true);
                    $("#id_form-" + form_id + "-montant_dc").prop("readonly", false);
                    $("#id_form-" + form_id + "-montant_ae").val('0.00');
                    $("#id_form-" + form_id + "-montant_cp").val('0.00');
                  }
                  if (data.is_pi_cfg) { // Si "PI/CFG" = oui alors AE = DC et CP = 0
                    $("#id_form-" + form_id + "-montant_ae").prop("readonly", false);
                    $("#id_form-" + form_id + "-montant_cp").prop("readonly", true);
                    $("#id_form-" + form_id + "-montant_dc").prop("readonly", true);
                    $("#id_form-" + form_id + "-montant_cp").val('0.00');
                    $("#id_form-" + form_id + "-montant_dc").val($("#id_form-" + form_id + "-montant_ae").val());
                  }
                  if ( !data.is_decalage_tresorerie && !data.is_non_budgetaire && !data.is_pi_cfg){
                    $("#id_form-" + form_id + "-montant_ae").prop("readonly", false);
                    $("#id_form-" + form_id + "-montant_cp").prop("readonly", true);
                    $("#id_form-" + form_id + "-montant_dc").prop("readonly", true);
                    $("#id_form-" + form_id + "-montant_cp").val($("#id_form-" + form_id + "-montant_ae").val());
                    $("#id_form-" + form_id + "-montant_dc").val($("#id_form-" + form_id + "-montant_ae").val());
                  }
                }
            });
        }
      });

      // NatureComptableRecette rulezzzz
      $("#supertable").on("change", ".form-naturecomptablerecette", function (e) {
          var idRegex = /id_form-(\d+).*/;
          var form_id = idRegex.exec(this.id)[1];
          var $nature = $("#id_form-" + form_id + "-naturecomptablerecette");

          if ($nature.val() != "") {
            $.getJSON("/api/naturecomptablerecette/rules/" + $nature.val() + "/", function(data) {
                // Première règle de gestion.
                if ( is_dfi_member_or_admin) {
                  if (data.is_ar_and_re) {   // * Si "AR et RE" = oui  alors AR = RE
                    $("#id_form-" + form_id + "-montant_ar").prop("readonly", false);
                    $("#id_form-" + form_id + "-montant_re").prop("readonly", false);
                    $("#id_form-" + form_id + "-montant_dc").prop("readonly", false);
                    if ( $("#id_form-" + form_id + "-montant_re").val().length == 0 )
                      $("#id_form-" + form_id + "-montant_re").val($("#id_form-" + form_id + "-montant_ar").val());
                  }
                  if (data.is_non_budgetaire) { // Si "non budgétaire (dont PI)" = oui  alors AR = RE = 0 et DC à saisir
                    if ( $("#id_form-" + form_id + "-montant_ar").val().length == 0 )
                      $("#id_form-" + form_id + "-montant_ar").val('0.00');
                    if ( $("#id_form-" + form_id + "-montant_re").val().length == 0 )
                      $("#id_form-" + form_id + "-montant_re").val($("#id_form-" + form_id + "-montant_ar").val());
                  }
                }
                else {
                  if (data.is_ar_and_re) {  // * Si "AR et RE" = oui  alors AR = RE
                    $("#id_form-" + form_id + "-montant_ar").prop("readonly", false);
                    $("#id_form-" + form_id + "-montant_re").prop("readonly", true);
                    $("#id_form-" + form_id + "-montant_dc").prop("readonly", false);
                    $("#id_form-" + form_id + "-montant_re").val($("#id_form-" + form_id + "-montant_ar").val());
                  }
                  if (data.is_non_budgetaire) { // Si "non budgétaire (dont PI)" = oui  alors AR = RE = 0 et DC à saisir
                    $("#id_form-" + form_id + "-montant_ar").prop("readonly", true);
                    $("#id_form-" + form_id + "-montant_re").prop("readonly", true);
                    $("#id_form-" + form_id + "-montant_dc").prop("readonly", false);
                    $("#id_form-" + form_id + "-montant_ar").val('0.00');
                    $("#id_form-" + form_id + "-montant_re").val('0.00');

                  }
                }
            });
        }
      });

      $("#formset").submit(function(e) {
        e.preventDefault();
        setTimeout(function(){$("#formset").unbind('submit').submit();},1000);
      });

    	$.each(['commentaire', 'lienpiecejointe'], function(index, field) {
    		$('#modal_' + field).on('show.bs.modal', function(e) {
   	           $('#inputform-' + field).attr('value', $(e.relatedTarget).data('formid'));
   	           $('#modal-' + field + '-field').val($('#' + $(e.relatedTarget).data('formid')).val());
   	        });
   	        $('#modal-' + field + '-submit').on('click', function(e) {
   	          dest = $('#inputform-' + field).attr('value');
   	          $('#' + dest).val($('#modal-' + field + '-field').val());
   	        });
    	});
    });

    $('#formset tbody tr').formset({
        addText: '{% trans "Add" %}',
        addCssClass: 'btn-primary btn',
        deleteText: '<span class="danger glyphicon glyphicon-trash"></span>',
    });
</script>
{% endblock %}
