{% extends 'base.html' %}

{% block content %}
<h1>Liste des Depenses</h1>

<style type="text/css">
tr.black td {
	color: black;
}
tr.red td {
	color: red;
}
tr.blue td {
        color: blue;
}
</style>


<form action="" method="POST">{% csrf_token %}
<TABLE WIDTH=50% BORDER=1>
   <TR><TD> Structure </TD><TD>
            <input type="text" name="depstruct"></TD>
   </TR>
   <TR><TD> Compte dépense </TD><TD>
            <input type="text" name="depcomptcompt"></TD>
   </TR>
       <input type="submit" value="chercher">
    </TABLE>
</form>

<br>
<br>
<a href="{% url 'depensefull_new2' %}" class="top-menu"> Nouvelle depense essai2<span class="glyphicon glyphicon-plus"></span></a>
<a href="{% url 'depensefull_new2' %}" class="top-menu"> Nouvelle depense sur cc seul<span class="glyphicon glyphicon-plus"></span></a>

<br>
<br>

<TABLE WIDTH=100% border=1 RULES=ROWS FRAME=HSIDES>
<CAPTION> Tableau des depenses essai2</CAPTION>
<thead>

    <TH> Structure</TH>
    <TH> Structure   </TH>
    <TH> Structure   </TH>

    <TH> Identifiant   </TH>

    <TH> Compte Depense      </TH>
    <TH> Compte Depense      </TH>
    <TH> Domaine Fonctionnel </TH>
    <TH> Origine des fonds   </TH>
    <TH> Origine des fonds   </TH>

    <TH> Plan Financement    </TH>
    <TH> Montant     </TH>
    <TH> Commentaire </TH>
    <TH> Fichier   </TH>
    <TH> Supprimer</TH>
</thead>
<tbody>
{% regroup depenses by structlev1 as depensesgroup %}
{% for depense1 in depensesgroup %}
<TR><TD span=14> <li>{{depense1.grouper}}</li></TD></TR>
<TR>
{% regroup depense1.list by structlev2 as depensesgroup2 %}
{% for depense12 in depensesgroup2 %}
<TR><TD></TD><TD span=14> <li>{{depense12.grouper}}</li></TD></TR>
{% regroup depense12.list by structlev3 as depensesgroup3 %}
{% for depense13 in depensesgroup3 %}
<TR><TD></TD><TD></TD><TD span=14> <li>{{depense13.grouper}}</li></TD></TR>

{% for depense in depense13.list %}
<TR class="{% cycle 'blue' 'red' 'black' %}">

       <TD></TD>
       <TD></TD>
       <TD></TD>
       <TD>{{ depense.id }} </TD>

       <TD>{{ depense.cptdeplev1  }}</TD>
       <TD>{{ depense.cptdeplev2  }}</TD>
       <TD>{{ depense.domfonc }}</TD>
       <TD>{{ depense.orfonds }}</TD>
       <TD>{{ depense.orfonds2 }}</TD>

       <TD>{{ depense.plfi    }}</TD>
       <TD>{{ depense.montant }}</TD>
       <TD>{{ depense.commentaire }}</TD>
       <TD>{{ depense.nom_des_fichiers }}</TD>

</TR>
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
</tbody>
<tfoot>
     <tr><td> Total</td><td> {{ depenses.count }} entrees</td></tr>
</tfoot>
</TABLE>
<br>
<br>
<a href="{% url 'depensefull_new2' %}" class="top-menu"> Nouvelle depense<span class="glyphicon glyphicon-plus"></span></a>

{% endblock %}


