{% extends "base.html" %}
{% load staticfiles %}

{% block head-additional %}
	<link rel="stylesheet" href="{% static 'css/budgetweb.css' %}"/>
{% endblock %}

{% block content %}
  <div class="col-md-12">
  {% include "detailspfi.html" %}
	<form method="POST" class="post-form" id="saveDepenser" name="saveDepense">
		{% csrf_token %}
		{{ form_depense.as_table }}
		<button id="saveDepense" type="submit" class="save btn btn-primary" name="save" data-toggle="tooltip" title="">Enregistrer</button>
	</form>

  </div>
{% endblock %}

{% block foot-javascript %}
<script src="{% static 'js/budgetweb.js' %}"></script>
{% endblock %}
