{%extends "base.html" %}
{% load staticfiles %}


{% block head-javascript %}
<script src="{% static 'js/mainjds.js' %}"></script>

{% endblock %}

{% block content %}
    <h1>Nouvelle depense </h1>

<form action="" method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
  <TABLE id="bbf">

  <TR><th> Structure niveau 1</th><TD>
       <select name="structlev1" id="structlev1">
            {% for struct in structlev1s %}
               <option value="{{struct.id}}">{{struct.name}} -- {{struct.label}}</option>
            {% endfor %}
       </select>
  </TD></TR>


  <TR><th> Structure niveau 2</th><TD>
       <select name="structlev2" id="structlev2">
            {% for struct in structlev2s %}
               <option value="{{struct.id}}">{{struct.name}} -- {{struct.label}}</option>
            {% endfor %}
       </select>
  </TD></TR>

  <TR><th> Structure niveau 3</th><TD>
       <select name="structlev3" id="structlev3">
            {% for struct in structlev3s %}
               <option value="{{struct.id}}">{{struct.name}} -- {{struct.label}}</option>
            {% endfor %}
       </select>
  </TD></TR>

  <TR><th> Plan de financement </th><TD>
       <select name="plfi" id="plfi">
            {% for pl in plfis %}
               <option value="{{pl.id}}">{{pl.name}} -- {{pl.eotp}} -- {{pl.label}} </option>
            {% endfor %}
       </select>
  </TD></TR>

  <TR><th> Fond </th><TD>
       <select name="fond" id="fond" readonly>
               <option value="NA"> NA </option>
       </select>
  </TD></TR>

  <TR><th> type d'enveloppe de d&eacutepenses </th><TD>
       <select name="cptdeplev1type" id="cptdeplev1type">
               <option value="">  </option>
       </select>
  </TD></TR>

  <TR><th> Enveloppe de d&eacutepenses </th><TD>
       <select name="cptdeplev1" id="cptdeplev1">
            {% for cptdep in cptdeplev1s %}
               <option value="{{cptdep.id}}">{{cptdep.enveloppe}} -- {{cptdep.naturec_dep}}</option>
            {% endfor %}
       </select>
  </TD></TR> 


  <TR><th> Domaine Fonctionnel</th><TD>
       <select name="domfonc" id="domfonc">
            {% for domfonc in domfoncs %}
               <option value="{{domfonc.id}}">{{domfonc.dfcode}} -- {{domfonc.dflabel}} </option>
            {% endfor %}
       </select>
  </TD></TR> 

  <TR><TH> D&eacutecalage de tr&eacutesorerie (ae<>cp) </TH><TD>
       <select name="decalagetresocpae" id="decalagetresocpae">
               <option value="Non" selected="selected"> Non </option>
               <option value="Oui"> Oui </option>
       </select>
  </TD></TR>


  <TR><th> Montant cr&eacutedit de paiementp </th><TD><input type="text" name="montantcp" id="montantcp" ></TD></TR>
  <TR><th> date de l'engagement </th><TD><input type="text" name="dateae" id="dateae" ></TD></TR>
  <TR><th> Montant de l'engagement </th><TD><input type="text" name="montantae" id="montantae" ></TD></TR>
  <TR><th> Montant droit constat&eacute </th><TD><input type="text" name="montantdc" id="montantdc" ></TD></TR>
  <TR><th> Commentaire </th><TD><input type="text" name="commentaire" id="commentaire" ></TD></TR>
  <TR><th> URL vers le fichier </th> <TD><INPUT type="text" name="nom_des_fichiers"></TD></TR>

 </table>
  <button type="submit" class="save btn btn-default"> Ajouter </button>
</form>

{% endblock %}
