{% extends 'base.html' %}

{% block content %}

    <form method="POST" class="post-form">{% csrf_token %}

       <TABLE id="bbf">
         <caption> Edition d'une d&eacutepense </caption>
        {% for field in form %}
          <tr>
             <th> {{ field.label_tag }}</th>
             <td> {{ field }} </td>
             <td> {{ field.errors }} </td>
          </tr>
        {% endfor %}
       </TABLE>

    <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}

