{% extends 'base.html' %}

{% block content %}
{% load myfilters %}


<br>
<br>

{% with depenses|first as firstdep %} 
<a href="{% url 'menu2_list' %}"> Accueil > </a>
&nbsp&nbsp&nbsp
<a class=info href=""> {{ firstdep.structlev1.name }} <span> {{ firstdep.structlev1.label }}</span></a> >
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a class=info href=""> {{ firstdep.structlev2.name }} <span> {{ firstdep.structlev2.label }} </span></a> >
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
<a class=info href="">{{ firstdep.structlev3.name }} <span> {{ firstdep.structlev3.label }} </span>></a> 
<br>
<br>
<b><span id="cc"> CC {{ firstdep.structlev3.label }} ></span></b> 
{% endwith %}
<br><br>

&nbsp&nbsp&nbsp
<br><br>
<a href="{% url 'menu2_list' %}"> Accueil > </a>
&nbsp&nbsp&nbsp
<a class=info href=""> {{ mastructurelev1.name }} <span> {{ mastructurelev1.label }}</span></a> >
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a class=info href=""> {{ mastructurelev2.name }} <span> {{ mastructrurelev2.label }} </span></a> >
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a class=info href="">{{ mastructurelev3.name }} <span> {{ mastructurelev3.label }} </span>></a>
<br>
<br>
<b><span id="cc"> CC {{ mastructurelev3.label }} ></span></b>
<br><br>


<a href="{% url 'depensefull_new2' %}" class="top-menu"> Nouvelle d&eacutepense <span class="glyphicon glyphicon-plus"></span></a>

<br>
<br>

<TABLE WIDTH=100% border=1>
<CAPTION> Tableau des d&eacutepenses </CAPTION><!-- essai2-->
<thead class="thcc">

    <TH> Enveloppe </TH>
    <TH> Désignation de la nature comptable </TH>
    <TH> Code Nature comptable Secondaire </TH>
    <TH> Identifiant </TH>
    <TH> Domaine fonctionnel </TH> <!--domaine fonctionnel -->

    <TH> Pfi   </TH> <!--Plan Financement -->
    <TH> Montant globalis&eacute</TH>
    <TH> Montant dc    </TH>
    <TH> Montant cp    </TH>
    <TH> Montant ae    </TH>
    <TH> Commentaire </TH>
    <TH> Créé par </TH>
    <TH> Date de création </TH>
    <TH> Modifié par </TH>
    <TH> Date de modification</TH>
</thead>
<tbody>
{% for depense in depenses %}
<TR class="tdcc">
       <TD> {{depense.cptdeplev1.enveloppe}} </TD>
       <TD> {{depense.cptdeplev1.naturec_dep }} </TD>
       <TD> {{depense.cptdeplev1.ncsecondairecode }} </TD>
       <TD><a href="{% url 'depensefull_edit' pkdep=depense.pk %}"> {{ depense.myid    }} </a></TD>
       <TD> {{depense.domfonc }} </TD>
       <TD>{{ depense.plfi.name    }}</TD>
       <TD>{{ depense.montant }}</TD>
       <TD>{{ depense.montantdc }}</TD>
       <TD>{{ depense.montantcp }}</TD>
       <TD>{{ depense.montantae }}</TD>
       <TD>{{ depense.commentaire }}</TD>
       <TD>{{ depense.creepar }}</TD>
       <TD>{{ depense.creele }}</TD>
       <TD>{{ depense.modifiepar }}</TD>
       <TD>{{ depense.modifiele }}</TD>
</TR>
{% endfor %}
</tbody>
<tfoot>
     <tr class="thcc">
      <td> Total</td><td> {{ depenses.count }} entrees</td><td></td><td></td><td></td><td></td>
      <td>{{total.montant__sum}}</td>
      <td>{{totaldc.montantdc__sum}}</td>
      <td>{{totalcp.montantcp__sum}}</td>
      <td>{{totalae.montantae__sum}}</td>
      <td></td><td></td><td></td><td></td><td></td>
    </tr>
</tfoot>
</TABLE>
<br>
<br>

{% endblock %}


