{%extends "base.html" %}
{% load staticfiles %}


{% block head-javascript %}
<script src="{% static 'js/mainjds.js' %}"></script>

{% endblock %}

{% block content %}

{% if error %}
<table border = 5 bordercolor=red>
   <tr><td>     {{ error }} 
   </tr></td>
</table>
{%endif%}

<form action="" method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
  <TABLE id="bbf">

  <TR><th> Nouvelle d&eacutepense sur la structure : </th><TD>

      {%if struct3.parent %}
          {%with node=struct3 template_name="structure_tree_view_template.html" %} 
               {%include "structure_tree_view_template.html" %}
          {% endwith %}
      {%endif%}


       <select name="structlev3" id="structlev3">
               <option value="{{struct3.id}}">{{struct3.name}} -- {{struct3.label}}</option>
       </select>
  </TD></TR>

  <TR><th> Plan de financement </th><TD>
       <select name="plfi" id="plfi">
               <option value="{{plfin.id}}">{{plfin.name}} -- {{plfin.eotp}} -- {{plfin.myid}} </option>
       </select>
  </TD></TR>

  <TR><th> Fond </th><TD>
       <select name="fond" id="fond" readonly>
               <option value="NA"> NA </option>
       </select>
  </TD></TR>

  <TR><th> type d'enveloppe de d&eacutepenses </th><TD>
       <select name="cptdeplev1type" id="cptdeplev1type">
        <option value="0"> choisissez un type d enveloppe</option>
       </select>
  </TD></TR>

  <TR><th> Enveloppe de d&eacutepenses </th><TD>
       <select name="cptdeplev1" id="cptdeplev1">
        <option value="0"> choisissez une enveloppe</option>
       </select>
      <p id="displaycompte"> </p>
  </TD></TR> 

  <TR><th> Domaine Fonctionnel</th><TD>
       <select name="domfonc" id="domfonc">
            <option value="0"> Veuillez choisir un domaine fonctionnel </option>
            {% for domfonc in domfoncs %}
               <option value="{{domfonc.id}}">{{domfonc.dfcode}} -- {{domfonc.dflabel}} </option>
            {% endfor %}
       </select>
  </TD></TR> 

  <TR><TH> D&eacutecalage de tr&eacutesorerie (ae<>cp) </TH><TD>
       <select name="decalagetresocpae" id="decalagetresocpae">
               <option value="Non" selected="selected"> Non </option>
               <option value="Oui"> Oui </option>
       </select>
  </TD></TR>

  <TR><th> Montant cr&eacutedit de paiementp </th><TD><input type="text" name="montantcp" id="montantcp" ></TD></TR>
  <TR><th> date de l'engagement </th><TD><input type="text" name="dateae" id="dateae" ></TD></TR>
  <TR><th> Montant de l'engagement </th><TD><input type="text" name="montantae" id="montantae" ></TD></TR>
  <TR><th> Montant droit constat&eacute </th><TD><input type="text" name="montantdc" id="montantdc" ></TD></TR>
  <TR><th> Commentaire </th><TD><input type="text" name="commentaire" id="commentaire" ></TD></TR>
  <TR><th> URL vers le fichier </th> <TD><INPUT type="text" name="myfile" id="myfile"></TD></TR>

 </table>
  <button type="submit" class="save btn btn-default"> Ajouter </button>
</form>

{% endblock %}
