{% extends "base.html" %}
{% load staticfiles %}

{% block head-additional %}
  <link rel="stylesheet" href="{% static 'css/budgetweb.css' %}"/>
{% endblock %}

{% block content %}
  <div class="col-md-12">
    {% include "detailspfi.html" %}

    <table class="table-pluri depense">
      <thead>
        <tr>
          <th colspan="12" style="text-align:left;padding-left:50px;">Liste des dépenses</th>
        </tr>
        <tr>
          <th>PFI</th>
          <th>CF</th>
          <th>Fonds</th>
          <th>Année</th>
          <th>Domaine Fonctionnel</th>
          <th>Nature Comptable</th>
          <th>Période Budgétaire</th>
          <th>M. DC</th>
          <th>M. CP</th>
          <th>M. AE</th>
          <th>Comm.</th>
          <th>PJ.</th>
        </tr>
      </thead>
      <tbody>
        {% for depense in listeDepense %}
          <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ depense.pfi }}</td>
            <td>{{ depense.structure }}</td>
            <td>{{ depense.fonds }}</td>
            <td>{{ depense.annee }}</td>
            <td>{{ depense.domainefonctionnel }}</td>
            <td>
              <b>Enveloppe :</b> {{ depense.naturecomptabledepense.enveloppe }}<br />
              <b>Code de la nature comptable secondaire :</b> {{ depense.naturecomptabledepense.code_nature_comptable }}<br />
              <b>Désignation de la nature comptable secondaire :</b>{{ depense.naturecomptabledepense.label_nature_comptable }}<br />
              <b>Code du compte budgétaire :</b> {{ depense.naturecomptabledepense.code_compte_budgetaire }}<br />
              <b>Libellé du compte budgétaire :</b> {{ depense.naturecomptabledepense.label_compte_budgetaire }}<br />
            </td>
            <td>{{ depense.periodebudget }}</td>
            <td nowrap>{{ depense.montant_dc }} &euro;</td>
            <td nowrap>{{ depense.montant_cp }} &euro;</td>
            <td nowrap>{{ depense.montant_ae }} &euro;</td>
            <td>{{ depense.commentaire }}</td>
            <td>{{ depense.lienpiecejointe }}</td>
          </tr>
        {% empty %}
          <tr><td colspan="12">Aucune recette trouvé pour cette PFI</td></tr>
        {% endfor %}
        <tr>
          <td colspan="7" style="text-align:right;padding-right:20px;font-weight:bold;">Total :</td>
          <td nowrap style="background-color:#66ff66;font-weight:bold;">{{ sommeDepense.sommeDC }} &euro;</td>
          <td nowrap style="background-color:#66ff66;font-weight:bold;">{{ sommeDepense.sommeCP }} &euro;</td>
          <td nowrap style="background-color:#66ff66;font-weight:bold;">{{ sommeDepense.sommeAE }} &euro;</td>
          <td colspan="2">&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
    <table class="table-pluri recette">
      <thead>
        <tr>
          <th colspan="11" style="text-align:left;padding-left:50px;">Liste des recettes</th>
        <tr>
          <th>PFI</th>
          <th>CF</th>
          <th>Année</th>
          <th>Domaine Fonctionnel</th>
          <th>Nature Comptable</th>
          <th>Période Budgétaire</th>
          <th>M. DC</th>
          <th>M. AR</th>
          <th>M. RE</th>
          <th>Comm.</th>
          <th>PJ.</th>
        </tr>
      </thead>
      <tbody>
        {% for recette in listeRecette %}
          <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ recette.pfi }}</td>
            <td>{{ recette.structure }}</td>
            <td>{{ recette.annee }}</td>
            <td>{{ recette.domainefonctionnel }}</td>
            <td>
              <b>Enveloppe :</b> {{ recette.naturecomptablerecette.enveloppe }}<br />
              <b>Code du fonds :</b> {{ recette.naturecomptablerecette.code_fonds }}<br />
              <b>Désignation du fonds :</b> {{ recette.naturecomptablerecette.label_fonds }}<br />
              <b>Code de la nature comptable secondaire :</b> {{ recette.naturecomptablerecette.code_nature_comptable }}<br />
              <b>Désignation de la nature comptable secondaire :</b>{{ recette.naturecomptablerecette.label_nature_comptable }}<br />
              <b>Code du compte budgétaire :</b> {{ recette.naturecomptablerecette.code_compte_budgetaire }}<br />
              <b>Libellé du compte budgétaire :</b> {{ recette.naturecomptablerecette.label_compte_budgetaire }}<br />
            </td>
            <td>{{ recette.periodebudget }}</td>
            <td nowrap>{{ recette.montant_dc }} &euro;</td>
            <td nowrap>{{ recette.montant_ar }} &euro;</td>
            <td nowrap>{{ recette.montant_re }} &euro;</td>
            <td>{{ recette.commentaire }}</td>
            <td>{{ recette.lienpiecejointe }}</td>
          </tr>
          {% empty %}
            <tr><td colspan="11">Aucune recette trouvé pour cette PFI</td></tr>
        {% endfor %}
          <tr>
            <td colspan="6" style="text-align:right;padding-right:20px;font-weight:bold;">Total :</td>
            <td nowrap style="background-color:#ff6666;font-weight:bold;">{{ sommeRecette.sommeDC }} &euro;</td>
            <td nowrap style="background-color:#ff6666;font-weight:bold;">{{ sommeRecette.sommeAR }} &euro;</td>
            <td nowrap style="background-color:#ff6666;font-weight:bold;">{{ sommeRecette.sommeRE }} &euro;</td>
            <td colspan="2">&nbsp;</td>
          </tr>
      </tbody>
    </table>
  </form>
</div>
{% endblock %}
{% block foot-javascript %}
<script src="{% static 'js/budgetweb.js' %}"></script>
<script src="{% static 'js/moment/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
{% endblock %}
