{% load budgetweb_tags %}

<table class="table-pluri recette" style="width:100%;">
  <thead>
    <tr>
      <th colspan="13" style="text-align:left;padding-left:50px;">
    {% if PFI %}
        <a href="{% url 'recette' pfiid=PFI.id annee=year %}">Liste des recettes</a>
    {% else %}
        Liste des recettes
    {% endif %}
      </th>
    <tr>
      <th>Année</th>
      <th>Période</th>
      <th>PFI</th>
      <th>CF</th>
      <th>Enveloppe</th>
      <th>Nature Comptable</th>
      <th>Compte Budgétaire</th>
      <th>Fonds</th>
      <th>AR</th>
      <th>RE</th>
      <th>DC</th>
      <th>Comm.</th>
      <th>PJ.</th>
    </tr>
  </thead>
  <tbody>
    {% for recette in recettes %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td>{{ recette.annee }}</td>
        <td>{{ recette.periodebudget.code }}</td>
        <td>{{ recette.pfi.code }}</td>
        <td>{{ recette.pfi.structure.code }}</td>
        <td>{{ recette.naturecomptablerecette.enveloppe }}</td>
        <td>{{ recette.naturecomptablerecette.label_nature_comptable }}</td>
        <td>{{ recette.naturecomptablerecette.code_compte_budgetaire }}</td>
        <td>{{ recette.naturecomptablerecette.code_fonds }}</td>
        <td class="montant" nowrap>{{ recette.montant_ar|intspace }} &euro;</td>
        <td class="montant" nowrap>{{ recette.montant_re|intspace }} &euro;</td>
        <td class="montant" nowrap>{{ recette.montant_dc|intspace }} &euro;</td>
        <td align="center">
          {% if recette.commentaire %}
            <a href="#">
              <span data-backdrop="false" data-toggle="modal" data-target="#modalCommentaire" data-formid="{{ recette.commentaire }}" class="glyphicon glyphicon-paperclip" title="Afficher"></span>
            </a>
          {% else %}
            &nbsp;
          {% endif %}
        </td>
        <td align="center">
          {% if recette.lienpiecejointe %}
            <a href="#">
              <span data-backdrop="false" data-toggle="modal" data-target="#modalPieceJointe" data-formid="{{ recette.lienpiecejointe }}" class="glyphicon glyphicon-paperclip" title="Afficher"></span>
            </a>
          {% else %}
            &nbsp;
          {% endif %}
        </td>
      </tr>
      {% empty %}
        <tr><td colspan="13">Aucune recette trouvé pour cette PFI</td></tr>
    {% endfor %}
      <tr>
        <td colspan="8" style="text-align:right;padding-right:20px;font-weight:bold;">Total :</td>
        <td nowrap style="background-color:#ff6666;font-weight:bold;text-align:right;">{{ sums.0.sum_dc|intspace }} &euro;</td>
        <td nowrap style="background-color:#ff6666;font-weight:bold;text-align:right;">{{ sums.0.sum_ar|intspace }} &euro;</td>
        <td nowrap style="background-color:#ff6666;font-weight:bold;text-align:right;">{{ sums.0.sum_re|intspace }} &euro;</td>
        <td colspan="2">&nbsp;</td>
      </tr>
  </tbody>
   </table>
