{% extends "base.html" %}
{% load staticfiles budgetweb_tags %}

{% block head-additional %}
  <link rel="stylesheet" href="{% static 'css/budgetweb.css' %}"/>
{% endblock %}

{% block content %}
 <div class="col-md-12">
    <h3>Liste des saisies pour le centre financier : {{ cf.code }} - {{ cf.label }}</h3>
    {% for year in years %}
    <fieldset>
    <legend><a data-toggle="collapse" data-target="#div-{{ year }}" href="#div-{{ year }}">Prévision budgétaire pour {{ year }}</a></legend>
    <div style="margin-left:1px;width:100%;" class="row collapse in" id="div-{{ year }}">
      <ul class="nav nav-tabs" role="tablist" id="pluri-tabs">
        <li role="presentation" class="active"><a href="#gbcp{{year}}" role="tab" data-toggle="tab">GBCP</a></li>
        <li role="presentation"><a href="#dc{{year}}" role="tab" data-toggle="tab">Droit Constaté</a></li>
      </ul>
      <div style="display: inline-block;width:100%;" class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="gbcp{{ year }}" data-tabname="GBCP">
          <table class="resumepfi">
          {% include "inc/detailsfullpfi.resume.html" with montant_group="gbcp" table_title="Dépense" compta=resume_depenses|dictvalue:year montants_types_compta="AE CP" enveloppes="Fonctionnement Personnel Investissement" %}

          {% include "inc/detailsfullpfi.resume.html" with montant_group="gbcp" table_title="Recette" compta=resume_recettes|dictvalue:year montants_types_compta="AR RE" enveloppes="Fonctionnement Investissement" is_last=True %}
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="dc{{ year }}" data-tabname="Droit Constaté">
          <table class="resumepfi">
          {% include "inc/detailsfullpfi.resume.html" with montant_group="dc" table_title="Dépense" compta=resume_depenses|dictvalue:year montants_types_compta="DC" enveloppes="Fonctionnement Personnel Investissement" %}

          {% include "inc/detailsfullpfi.resume.html" with montant_group="dc" table_title="Recette" compta=resume_recettes|dictvalue:year montants_types_compta="DC" enveloppes="Fonctionnement Investissement" is_last=True %}
          </table>
        </div>
      </div>
      {% if listeDepense %}
      <br />
        {% include "inc/detailsfullpfi.depense.html" with depenses=listeDepense|dictvalue:year sums=sommeDepense|dictvalue:year %}
      {% endif %}
      {% if listeRecette %}
      <br />
        {% include "inc/detailsfullpfi.recette.html" with recettes=listeRecette|dictvalue:year sums=sommeRecette|dictvalue:year %}
      {% endif %}
      </div>
    </fieldset>
  {% endfor %}
{% commentary_modal %}
{% attachment_link_modal %}
{% montant_dc_modal %}
</div>
{% endblock %}