{% extends 'base.html' %}

{% block content %}
<h1>Liste des domaines fonctionnels</h1>


<form action="" method="POST">{% csrf_token %}
<TABLE BORDER=1>
   <TR><TD>Code </TD><TD>
            <input type="text" name="dfcode"></TD>
   </TR>
   <TR><TD>Cumul groupe </TD><TD>
            <input type="text" name="dfcumul"></TD>
   </TR>
       <input type="submit" value="chercher">
    </TABLE>
</form>

<br>
<br>

<TABLE id="bbf">
<CAPTION> Domaine fonctionnel </CAPTION>
<thead>
    <TH> Code </TH>
    <TH> Libellé </TH>
    <TH> Groupe pour les cumuls </TH>
    <TH> Groupe fonctionnel </TH>
    <TH> Remarque </TH>
    <TH> Description </TH>
    <TH> Editer </TH>
    <TH> Supprimer</TH>
</thead>
<tbody>
{% for reponse in reponses %}
<TR>
       <TD> {{ reponse.dfcode }}      </TD>
       <TD> {{ reponse.dflabel }}  </TD>
       <TD> {{ reponse.dfgrpcumul }}  </TD>
       <TD> {{ reponse.dfgrpfonc  }}  </TD>
       <TD> {{ reponse.dfrmq   }}  </TD>
       <TD> {{ reponse.dfdesc  }}  </TD>
       <TD><a href="{% url 'domainefonctionnel_edit' pkdf=reponse.pk %}">Editer</a></TD>
       <TD><a href="{% url 'domainefonctionnel_delete' pkdf=reponse.pk %}">supprimer</a></TD>
</TR>
{% endfor %}
</tbody>
<tfoot>
     <tr><td> Total</td><td> {{ reponses.count }} entrees</td></tr>
</tfoot>
</TABLE>
<br>
<br>
<a href="{% url 'domainefonctionnel_new' %}" class="top-menu"> Nouveau Domaine Fonctionnel<span class="glyphicon glyphicon-plus"></span></a>

{% endblock %}


