{% extends 'base.html' %}

{% block content %}
<h1>Liste des domaines fonctionnels</h1>


<form action="" method="POST">{% csrf_token %}
<TABLE BORDER=1>
   <TR><TD>Code </TD><TD>
            <input type="text" name="dfcode"></TD>
   </TR>
   <TR><TD>Cumul groupe </TD><TD>
            <input type="text" name="dfcumul"></TD>
   </TR>
       <input type="submit" value="chercher">
    </TABLE>
</form>

<br>
<br>

<TABLE>
<CAPTION> Domaine fonctionnel </CAPTION>
<thead>
    <TH style="padding:0 15px 0 15px;"> Id DF </TH>
    <TH style="padding:0 15px 0 15px;"> Libellé </TH>
    <TH style="padding:0 15px 0 15px;"> Cumul - Groupe </TH>
    <TH style="padding:0 15px 0 15px;"> Groupe fonctionnel </TH>
    <TH style="padding:0 15px 0 15px;"> Remarque </TH>
    <TH style="padding:0 15px 0 15px;"> Description </TH>
    <TH style="padding:0 15px 0 15px;"> Supprimer</TH>
</thead>
<tbody>
{% for reponse in reponses %}
<TR>
       <TD style="padding:0 15px 0 15px;"> {{ reponse.dfcode }}      </TD>
       <TD style="padding:0 15px 0 15px;"> {{ reponse.dflabel }}  </TD>
       <TD style="padding:0 15px 0 15px;"> {{ reponse.dfgrpcumul }}  </TD>
       <TD style="padding:0 15px 0 15px;"> {{ reponse.dfgrpfonc  }}  </TD>
       <TD style="padding:0 15px 0 15px;"> {{ reponse.dfrmq   }}  </TD>
       <TD style="padding:0 15px 0 15px;"> {{ reponse.dfdesc  }}  </TD>
       <TD style="padding:0 15px 0 15px;"><a href="{% url 'domainefonctionnel_delete' pkdf=reponse.pk %}">supprimer</a></TD>
</TR>
{% endfor %}
</tbody>
<tfoot>
     <tr><td> Total</td><td> {{ reponses.count }} entrees</td></tr>
</tfoot>
</TABLE>
<br>
<br>
<a href="{% url 'domainefonctionnel_new' %}" class="top-menu"> Nouveau compte comptable <span class="glyphicon glyphicon-plus"></span></a>

{% endblock %}


