{% extends 'base.html' %}

{% block content %}
  <h1>Supprimer un domaine fonctionnel</h1>
  <form method="POST" class="post-form">{% csrf_token %}
      <TABLE id="bbf">
        {% for field in form %}
          <tr>
           <th> {{ field.label_tag }}</th>
           <td> {{ field }} </td>
           <td> {{ field.errors }} </td>
          </tr>
        {% endfor %}
      </TABLE>

      <button type="submit" class="save btn btn-default">Supprimer</button>
  </form>
  <a href="{% url 'domainefonctionnel_list' %}" class="btn btn-default">Annuler</a>
<br>
<br>

{% endblock %}
