<!DOCTYPE html>
{% load staticfiles %}
{% load dipstrapfiles %}
<html>
<head>
    <title>{% block title %}basearticles{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content= 'Direction Informatique - Université de Strasbourg' />
    <link rel="stylesheet" href="{% dipstrap 'css/bootstrap-unistra.min.css' %}">
    <link rel="stylesheet" href="{% dipstrap 'css/bootstrap-theme-unistra.min.css' %}">
    <link rel="stylesheet" href="{% dipstrap 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/basearticles.css' %}" type="text/css" title="no title" charset="utf-8" />

    <script src="{% dipstrap 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    {% block head-javascript %}{% endblock %}
</head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
                    <img class="pull-left" src="{% dipstrap 'img/unistra-white.png' %}" alt="unistra" />
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul id="menu" class="nav navbar-nav">
                        <li id="manager-menu"><a href="{% url "search" %}" class="top-menu"><span class="glyphicon glyphicon-search"></span></a></li>

                 </ul>
                            {% if user.is_authenticated %}
                            {% else %}
                                 Erreur lors de la tentative de connexion
                            {% endif %}
                        </div>
                    </div>
                </div>
        <div class="content">
            <div class="row">
                                <div class="col-md-1"></div>
                <div class="col-md-10">
                </div>
            </div>
        </div>




{% block content %}

Déconnexion effectuée !
{{message}}

{% if user.is_authenticated %}
        <h1> toujours connecté </h1>
    {% else %}
        <form action="" method="POST" class="post-form">{% csrf_token %}
          <TABLE BORDER="1">
                <TR><TD> nom  </TD><TD><input type="text" name="username" id="username"></TD></TR>
                <TR><TD> mot de passe </TD><TD><input type="password" name="password" id="password"></TD></TR>
          </TABLE>
          <input type="submit" value="cnx">
        </form>

        <h1> Vous êtes actuellement déconnecté(e) !

    	Pour voir la liste des articles, veuillez vous connecter.</h1>

    {% endif %}	
{% endblock %}




    </body>
</html>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <footer>
            <div class="container">
                <p class="credit">&copy; Direction Informatique - Universit&eacute; de Strasbourg - {% now "Y" %}</p>
            </div>
        </footer>
    </div>
    <script src="{% dipstrap 'js/vendor/jquery-1.11.0.min.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="{% dipstrap 'js/vendor/bootstrap.min.js' %}"></script>
        <script>
          $(function() {
            $( "datepicker" ).datepicker();
          });
  </script>
    {% block foot-javascript %}{% endblock %}
</body>
</html>

