{% extends 'base.html' %}

{% block content %}
<h1>Liste des origines des fonds</h1>


<form action="" method="POST">{% csrf_token %}
<TABLE BORDER=1>
   <TR><TD>Type </TD><TD>
            <input type="text" name="oftype"></TD>
   </TR>
   <TR><TD>Libellé </TD><TD>
            <input type="text" name="oflabel"></TD>
   </TR>
       <input type="submit" value="chercher">
    </TABLE>
</form>

<br>
<a href="{% url 'originefonds_new' %}" class="top-menu"> Nouvelle origine fonds<span class="glyphicon glyphicon-plus"></span></a>
<br>

<TABLE id="bbf">
<CAPTION> Tableau des origines des fonds </CAPTION>
<thead>
    <TH> Id </TH>
    <TH> Id parent </TH>
    <TH> Nom </TH>
    <TH> Libellé </TH>
    <TH> Type </TH>
    <TH> Budget? </TH>
    <TH> Nomades? </TH>
    <TH> Editer </TH>
    <TH> Supprimer </TH>
</thead>
<tbody>
{% for of in reponses %}
<TR>
       <TD> --{{ of.ofid }}-- </TD>
       <TD> --{{ of.ofparent }}-- </TD>
       <TD> {{ of.ofname }}</TD>
       <TD> {{ of.oflabel }}</TD>
       <TD> --{{ of.oftype }}-- </TD>
       <TD> {{ of.ofbudget }}</TD>
       <TD> {{ of.ofnomades }}</TD>
       <TD><a href="{% url 'originefonds_edit' pkof=of.pk %}">Editer</a></TD>
       <TD><a href="{% url 'originefonds_delete' pkof=of.pk %}">Supprimer</a></TD>

</TR>
{% endfor %}
</tbody>
<tfoot>
     <tr><td> Total</td><td> {{ originefonds.count }} entrees</td></tr>
</tfoot>
</TABLE>
<br>
<br>
<br>
<br>
<br>

<br>
{% regroup reponses2 by ofparent as of_list %}
<ul>
{% for theof in of_list %}
<div class="container">
  <a href="#bbf{{ forloop.counter0 }}" class="btn btn-info" data-toggle="collapse">{{ theof.grouper }}</a>
  <div id="bbf{{ forloop.counter0 }}" class="collapse">
   <TABLE id="bbf">
       <CAPTION> Tableau des origines des fonds </CAPTION>
          <thead>
             <TH> Id </TH>
             <TH> Id parent </TH>
             <TH> Nom </TH>
             <TH> Libellé </TH>
             <TH> Type </TH>
             <TH> Budget? </TH>
             <TH> Nomades? </TH>
          </thead>

        {% for of in theof.list %}
              <tr>
                 <TD> --{{ of.ofid }}-- </TD>
                  <TD> --{{ of.ofparent }}-- </TD>
                  <TD> {{ of.ofname }}</TD>
                  <TD> {{ of.oflabel }}</TD>
                  <TD> --{{ of.oftype }}-- </TD>
                  <TD> {{ of.ofbudget }}</TD>
                  <TD> {{ of.ofnomades }}</TD>
              </tr>
        {% endfor %}
     </TABLE>
  </div>
</div>
{% endfor %}
</ul>


{% endblock %}


