{% extends 'base.html' %}

{% block content %}
<h1>Liste des p&eacuteriodes budg&eacutetaires</h1>


<form action="" method="POST">{% csrf_token %}
<TABLE id="bbf">
   <TR><TD> Période budgétaire </TD><TD>
            <input type="text" name="depstruct"></TD>
   </TR>
   <TR><TD> Compte dépense </TD><TD>
            <input type="text" name="depcomptcompt"></TD>
   </TR>
       <input type="submit" value="chercher">
    </TABLE>
</form>

<br>
<br>
<a href="{% url 'periodebudget_new' %}" class="top-menu"> Nouvelle p&eacuteriode budget<span class="glyphicon glyphicon-plus"></span></a>

<br>
<br>

<TABLE id="bbf">
<CAPTION> Tableau des p&eacuteriode budg&eacuteaire </CAPTION>
<thead>
    <TH> ID </TH>
    <TH> Code </TH>
    <TH> Label   </TH>
    <TH> P&eacuteriode  </TH>
    <TH> Bloqu&eacute O/N ( seule une période active) </TH>
    <TH> Editer</TH>
    <TH> Supprimer</TH>
</thead>
<tbody>
{% for depense in reponses %}
<TR>
       <TD><a href="{% url 'periodebudget_detail' pkpb=depense.pk %}"> {{ depense.id    }} </a></TD>
       <TD>{{ depense.name  }}</TD>
       <TD>{{ depense.label  }}</TD>
       <TD>{{ depense.annee }}</TD>
       <TD>{{ depense.bloque }}</TD>
       <TD><a href="{% url 'periodebudget_edit' pkpb=depense.pk %}">editer</a></TD>
       <TD><a href="{% url 'periodebudget_delete' pkpb=depense.pk %}">supprimer</a></TD>
</TR>
{% endfor %}
</tbody>
<tfoot>
     <tr><td> Total</td><td> {{ reponses.count }} entrees</td></tr>
</tfoot>
</TABLE>
<br>
<br>

{% endblock %}


