{% extends 'base.html' %}

{% block content %}
<h1>Liste des -plans de financement- </h1>


<form action="" method="POST">{% csrf_token %}
<TABLE BORDER=1>
   <TR><TD>Nom </TD><TD>
            <input type="text" name="pfiname"></TD>
   </TR>
   <TR><TD>Libellé </TD><TD>
            <input type="text" name="pfilabel"></TD>
   </TR>
       <input type="submit" value="chercher">
    </TABLE>
</form>

<br>
<br>

<TABLE id="bbf">
<CAPTION> Tableau des - plans de financement- </CAPTION>
<thead>
    <TH> Myid </TH>
    <TH> Name </TH>
    <TH> Eotp </TH>
    <TH> cr&eacute&eacute le </TH>
    <TH> cr&eacute&eacute par </TH>
    <TH> Modifi&eacute le </TH>
    <TH> Modifi&eacute par </TH>
    <TH> Soci&eacutet&eacute </TH>
    <TH> CF associ&eacute </TH>
    <TH> CF associ&eacute Lien</TH>
    <TH> CC associ&eacute  </TH>
    <TH> CP associ&eacute </TH>
    <TH> Fl&eacutech&eacute </TH>
    <TH> Pluri-annuel </TH>
    <TH> Editer</TH>
    <TH> Supprimer</TH>
</thead>
<tbody>
{% for reponse in reponses %}
<TR>
       <TD> {{ reponse.myid }} </TD>
       <TD> {{ reponse.name }}      </TD>
       <TD> {{ reponse.eotp }}  </TD>
       <TD> {{ reponse.creele }} </TD>
       <TD> {{ reponse.creepar }} </TD>
       <TD> {{ reponse.modifiele }} </TD>
       <TD> {{ reponse.modifiepar }} </TD>
       <TD> {{ reponse.societe }} </TD>
       <TD> {{ reponse.cfassoc }}  </TD>
       <TD> {{ reponse.cfassoclink }}  </TD>
       <TD> {{ reponse.ccassoc }}  </TD>
       <TD> {{ reponse.cpassoc }}  </TD>
       <TD> {{ reponse.fleche }}  </TD>
       <TD> {{ reponse.pluriannuel }}  </TD>
       <TD><a href="{% url 'planfinancement_edit' pkpfi=reponse.pk %}">editer</a></TD>
       <TD><a href="{% url 'planfinancement_delete' pkpfi=reponse.pk %}">supprimer</a></TD>
</TR>
{% endfor %}
</tbody>
<tfoot>
     <tr><td> Total</td><td> {{ reponses.count }} entrees</td></tr>
</tfoot>
</TABLE>
<br>
<br>
<a href="{% url 'planfinancement_new' %}" class="top-menu"> Nouveau -plan de financement- <span class="glyphicon glyphicon-plus"></span></a>

{% endblock %}


