{% load budgetweb_tags %}
<fieldset>
	<legend><a data-toggle="collapse" data-target="#table_{{ compta_type }}">{{ label }}</a></legend>
	<div class="collapse in" id="table_{{ compta_type }}">
	<table class='table-pluri {{ compta_type }}'>
		<thead>
			<tr>
				<th>Etape</th>
				<th>Type</th>
				<th>Enveloppe</th>
				{% for year in years %}
					<th colspan="2">{{ year }}</th>
				{% endfor %}
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
		{% for type in montants_types.split %}
		    {% with enveloppe_values=types|dictvalue:type %}
			{% with rowspan=enveloppes.split|length|add:1 %}
			<tr>
				<td rowspan="{{ rowspan }}">BP</td>
				<td rowspan="{{ rowspan }}">{{ type }}</td>
			{% for enveloppe in enveloppes.split %}
			{% if enveloppe_values.0 %}
			{% with year_values=enveloppe_values.0|dictvalue:enveloppe %}
				{% if forloop.counter == 1 %}
				<td nowrap=""><span class="pluri">{{ enveloppe }}</span></td>
			     	{% for year in years %}
				<td nowrap="" style="text-align:right;">{% if year_values.0 %}{% firstof year_values.0|dictvalue:year|intspace "0,00" %}{% else %}0,00{% endif %} &euro;</td>
				<td rowspan="{{ rowspan }}" class="table-details"><a href="/{{ compta_type }}/{{ PFI.id }}/{{ year }}/">Détails<br>(obligatoires)</a></td>
				    {% endfor %}
				<td nowrap="">{% firstof year_values.1|intspace "0,00" %} &euro;</td>
			</tr>
				{% else %}
			<tr>
			    <td nowrap=""><span class="pluri">{{ enveloppe }}</span></td>
			    {% for year in years %}
				<td nowrap="" style="text-align:right;">{% if year_values.0 %}{% firstof year_values.0|dictvalue:year|intspace "0,00" %}{% else %}0,00{% endif %} &euro;</td>
				{% endfor %}
				<td nowrap="" style="text-align:right;">{% firstof year_values.1|intspace "0,00" %} &euro;</td>
				{% endif %}
			</tr>
			{% endwith %}
			{% else %}
			    {% if forloop.counter == 1 %}
			    <td nowrap=""><span class="pluri">{{ enveloppe }}</span></td>
                    {% for year in years %}
                <td nowrap="">0,00 &euro;</td>
                <td rowspan="{{ rowspan }}" class="table-details"><a href="/{{ compta_type }}/{{ PFI.id }}/{{ year }}/">Détails<br>(obligatoires)</a></td>
                    {% endfor %}
                <td nowrap="">0,00 &euro;</td>
            </tr>
                {% else %}
            <tr>
                <td nowrap=""><span class="pluri">{{ enveloppe }}</span></td>
                {% for year in years %}
                <td nowrap="">0,00 &euro;</td>
                {% endfor %}
                <td nowrap="">0,00 &euro;</td>
                {% endif %}
            </tr>
			{% endif %}
			{% endfor %}
			<tr>
			    <td nowrap=""><span class="pluri">Total</span></td>
			    {% for year in years %}
				<td nowrap="">{% if enveloppe_values.1 %}{% firstof enveloppe_values.1|dictvalue:year|intspace "0,00" %}{% else %}0,00{% endif %} &euro;</td>
				{% endfor %}
				<td nowrap="">{% if enveloppe_values.1 %}{% firstof enveloppe_values.1.total|intspace "0,00" %}{% else %}0,00{% endif %} &euro;</td>
			</tr>
			{% endwith %}
			{% endwith %}
		{% endfor %}
		</tbody>
	</table>
  </div>
</fieldset>
