{% load budgetweb_tags %}
<fieldset>
	<legend><a data-toggle="collapse" data-target="#table_{{ compta_type }}">{{ label }}</a></legend>
	<div class="collapse in" id="table_{{ compta_type }}">
	<table class='table-pluri {{ compta_type }}'>
		<thead>
			<tr>
				<th>Etape</th>
				<th>Type</th>
				{% for value in types.1 %}
					<th colspan="2">{{ value }}</th>
				{% endfor %}
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
		{% for type, enveloppe_values in types.0|itemssortbykey %}
			{% with rowspan=enveloppe_values.0|length|add:1 %}
			<tr>
				<td rowspan="{{ rowspan }}">BP</td>
				<td rowspan="{{ rowspan }}">{{ type }}</td>
			{% for enveloppe, year_values in enveloppe_values.0|itemssortbykey %}
				{% if forloop.counter == 1 %}
				{% for year, montant in year_values.0|itemssortbykey %}
				<td nowrap=""><span class="pluri">{{ enveloppe }} :</span> {{ montant|intspace }} &euro;</td>
				<td rowspan="{{ rowspan }}" class="table-details"><a href="/{{ compta_type }}/{{ PFI.id }}/{{ year }}/">Détails<br>(obligatoire)</a></td>
				{% endfor %}
				<td nowrap><span class="pluri total">Total :</span> {{ year_values.1|intspace }} &euro;</td>
			</tr>
				{% else %}
			<tr>
				{% for year, montant in year_values.0|itemssortbykey %}
				<td nowrap><span class="pluri">{{ enveloppe }} :</span> {{ montant|intspace }} &euro;</td>
				{% endfor %}
				<td nowrap><span class="pluri total">Total :</span> {{ year_values.1|intspace }} &euro;</td>
				{% endif %}
			</tr>
			{% endfor %}
			<tr>
				{% for year, montant in enveloppe_values.1.items %}
				<td nowrap><span class="pluri">Total :</span> {{ montant|intspace }} &euro;</td>
				{% endfor %}
			</tr>
			{% endwith %}
		{% endfor %}
		</tbody>
	</table>
  </div>
</fieldset>
