{% extends "base.html" %}
{% load staticfiles %}

{% block head-additional %}
	<link rel="stylesheet" href="{% static 'css/budgetweb.css' %}"/>
{% endblock %}

{% block content %}
		<div class="col-md-12">
		{% include "detailspfi.html" %}
<fieldset>
	<form id="editPFI" name="editPFI" method="POST" class="post-form">
			{% csrf_token %}
			<input type="hidden" name="pk" value="{{ PFI.pk }}">
			<div class="fieldWrapper">
						<label for="{{ PFI.date_debut_tarif.id_for_label }}">Date de début du programme de financement :</label>
						{{ formnew.date_debut_tarif }}
			</div>
			<div class="fieldWrapper">
						<label for="{{ PFI.date_debut_tarif.id_for_label }}">Date de fin du programme de financement :</label>
						{{ formnew.date_debut_tarif }}
			</div>
	</form>
</fieldset>
<fieldset>
	<legend>Liste des dépenses</legend>

</fieldset>
<fieldset>
	<legend>Liste des recettes</legend>

</fieldset>
</div>
{% endblock %}
{% block foot-javascript %}
<script src="{% static 'js/budgetweb.js' %}"></script>
{% endblock %}
