{% extends "base.html" %}
{% load staticfiles %}

{% block head-additional %}
	<link rel="stylesheet" href="{% static 'css/budgetweb.css' %}"/>
{% endblock %}

{% block content %}
		<div class="col-md-12">
		{% include "detailspfi.html" %}
<fieldset>
	<form id="editPFI" name="editPFI" method="POST" class="post-form">
			{% csrf_token %}
			{% if form.errors %}
		    {% for field in form %}
		        {% for error in field.errors %}
		            <div class="alert alert-error">
		                <strong>{{ error|escape }}</strong>
		            </div>
		        {% endfor %}
		    {% endfor %}
		    {% for error in form.non_field_errors %}
		        <div class="alert alert-error">
		            <strong>{{ error|escape }}</strong>
		        </div>
		    {% endfor %}
			{% endif %}
			<input type="hidden" name="pk" value="{{ PFI.pk }}">
			<div class="fieldWrapper">
						<label for="{{ PFI.date_debut.id_for_label }}">Date de début :</label>
						{{ form.date_debut }}
			</div>
			<div class="fieldWrapper">
						<label for="{{ PFI.date_fin.id_for_label }}">Date de fin :</label>
						{{ form.date_fin }}
			</div>
			<button id="submit" type="submit" class="save btn btn-primary">Modifier</button>
	</form>
</fieldset>
	<fieldset>
		<legend>Liste des dépenses</legend>
		<table class='table-pluri'>
			<thead>
				<tr>
					<td>Etape</td>
					<td>Type</td>
					{% for value in rangeYear %}
						<td colspan="2">{{ value }}</td>
					{% endfor %}
					<td>Total</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="4">BP</td>
					<td rowspan="4">CP</td>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Fonct. :</label><input type="text" size="10" value="100 000 &euro;"></td>
						<td rowspan="4" class="table-details"><a href="{% url 'depense' pfiid=PFI.id %}">Détails (obligatoire)</a></td>
					{% endfor %}
					<td nowrap><label class="pluri">Total :</label><input type="text" size="10" value="100 000 &euro;"></td>
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Inves. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
					<td nowrap><label class="pluri">Total :</label><input type="text" size="10" value="100 000 &euro;"></td>
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Pers. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
					<td nowrap><label class="pluri">Total :</label><input type="text" size="10" value="100 000 &euro;"></td>
				</tr>
				<tr>
					
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Total. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
					<td>&nbsp;</td>
				</tr>
				<tr style="line-height: 0px;border:2px solid #000000;">
					<td colspan="2">&nbsp;</td>
					{% for value in rangeYear %}
						<td nowrap>&nbsp;</td>
					{% endfor %}
				</tr>
				<tr>
					<td rowspan="4">BP</td>
					<td rowspan="4">AE</td>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Fonct. :</label><input type="text" size="10" value="100 000 &euro;"></td>
						<td rowspan="4" class="table-details"><a href="{% url 'depense' pfiid=PFI.id %}">Détails (obligatoire)</a></td>
					{% endfor %}
					<td nowrap><label class="pluri">Total :</label><input type="text" size="10" value="100 000 &euro;"></td>
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Inves. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
					<td nowrap><label class="pluri">Total :</label><input type="text" size="10" value="100 000 &euro;"></td>
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Pers. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
					<td nowrap><label class="pluri">Total :</label><input type="text" size="10" value="100 000 &euro;"></td>
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Total. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
					<td>&nbsp;</td>
				</tr>
				<tr style="line-height: 0px;border:2px solid #000000;">
					<td colspan="2">&nbsp;</td>
					{% for value in rangeYear %}
						<td nowrap>&nbsp;</td>
					{% endfor %}
				</tr>
				<tr>
					<td rowspan="4">BP</td>
					<td rowspan="4">DC</td>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Fonct. :</label><input type="text" size="10" value="100 000 &euro;"></td>
						<td rowspan="4" class="table-details"><a href="{% url 'depense' pfiid=PFI.id %}">Détails (obligatoire)</a></td>
					{% endfor %}
					<td nowrap><label class="pluri">Total :</label><input type="text" size="10" value="100 000 &euro;"></td>
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Inves. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
					<td nowrap><label class="pluri">Total :</label><input type="text" size="10" value="100 000 &euro;"></td>
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Pers. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
					<td nowrap><label class="pluri">Total :</label><input type="text" size="10" value="100 000 &euro;"></td>
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Total. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
					<td>&nbsp;</td>
				</tr>
				<tr style="line-height: 0px;border:2px solid #000000;">
					<td colspan="2">&nbsp;</td>
					{% for value in rangeYear %}
						<td nowrap>&nbsp;</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</fieldset>
	<fieldset>
		<legend>Liste des recettes</legend>
		<table class='table-pluri'>
			<thead>
				<tr>
					<td>Etape</td>
					<td>Type</td>
					{% for value in rangeYear %}
						<td colspan="2">{{ value }}</td>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="3">BP</td>
					<td rowspan="3">RE</td>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">F + I :</label><input type="text" size="10" value="100 000 &euro;"></td>
						<td rowspan="3" class="table-details"><a href="{% url 'recette' pfiid=PFI.id %}">Détails (obligatoire)</a></td>
					{% endfor %}
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Pers. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Total. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
				</tr>
				<tr style="line-height: 0px;border:2px solid #000000;">
					<td colspan="2">&nbsp;</td>
					{% for value in rangeYear %}
						<td nowrap>&nbsp;</td>
					{% endfor %}
				</tr>
				<tr>
					<td rowspan="3">BP</td>
					<td rowspan="3">DC</td>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">F + I :</label><input type="text" size="10" value="100 000 &euro;"></td>
						<td rowspan="3" class="table-details"><a href="{% url 'recette' pfiid=PFI.id %}">Détails (obligatoire)</a></td>
					{% endfor %}
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Pers. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Total. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
				</tr>
				<tr style="line-height: 0px;border:2px solid #000000;">
					<td colspan="2">&nbsp;</td>
					{% for value in rangeYear %}
						<td nowrap>&nbsp;</td>
					{% endfor %}
				</tr>
				<tr>
					<td rowspan="3">BP</td>
					<td rowspan="3">AR</td>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">F + I :</label><input type="text" size="10" value="100 000 &euro;"></td>
						<td rowspan="3" class="table-details"><a href="{% url 'recette' pfiid=PFI.id %}">Détails (obligatoire)</a></td>
					{% endfor %}
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Pers. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
				</tr>
				<tr>
					{% for value in rangeYear %}
						<td nowrap><label class="pluri">Total. :</label><input type="text" size="10" value="100 000 &euro;"></td>
					{% endfor %}
				</tr>
				<tr style="line-height: 0px;border:2px solid #000000;">
					<td colspan="2">&nbsp;</td>
					{% for value in rangeYear %}
						<td nowrap>&nbsp;</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
		<br />
		<br />
		<br />
		<br />
	</fieldset>
</div>

{% endblock %}
