{% extends "base.html" %}
{% load staticfiles %}

{% block head-additional %}
	<link rel="stylesheet" href="{% static 'css/budgetweb.css' %}"/>
{% endblock %}

{% block content %}
		<div class="col-md-12">
		{% include "detailspfi.html" %}
<fieldset>
	<form id="editPFI" name="editPFI" method="POST" class="post-form">
			{% csrf_token %}
			<input type="hidden" name="pk" value="{{ PFI.pk }}">
			<div class="fieldWrapper">
						<label for="{{ PFI.date_debut.id_for_label }}">Date de début :</label>
						{{ form.date_debut }}
			</div>
			<div class="fieldWrapper">
						<label for="{{ PFI.date_fin.id_for_label }}">Date de fin :</label>
						{{ form.date_fin }}
			</div>
			<button id="submit" type="submit" class="save btn btn-primary">Modifier</button>
	</form>
</fieldset>
<fieldset>
	<legend>Liste des dépenses</legend>

</fieldset>
<fieldset>
	<legend>Liste des recettes</legend>

</fieldset>
</div>
{% endblock %}
