{% extends 'base.html' %}

{% block content %}
<h1>Liste des Recettes</h1>


<form action="" method="POST">{% csrf_token %}
<TABLE WIDTH=50% BORDER=1>
   <TR><TD> Structure </TD><TD>
            <input type="text" name="depstruct"></TD>
   </TR>
   <TR><TD> Compte Recette </TD><TD>
            <input type="text" name="depcomptcompt"></TD>
   </TR>
       <input type="submit" value="chercher">
    </TABLE>
</form>

<br>
<br>
<a href="{% url 'recettefull_new' %}" class="top-menu"> Nouvelle recette<span class="glyphicon glyphicon-plus"></span></a>
<a href="{% url 'recettefull_new2' %}" class="top-menu"> Nouvelle recette<span class="glyphicon glyphicon-plus"></span></a>
<br>
<br>

<TABLE WIDTH=100% border=1>
<CAPTION> Tableau des recettes</CAPTION>
<thead>

    <TH> Identifiant </TH>
    <TH> Structure   </TH>
    <TH> Structure   </TH>
    <TH> Structure   </TH>

    <TH> Compte Depense      </TH>
    <TH> Compte Depense      </TH>
    <TH> Domaine Fonctionnel </TH>
    <TH> Origine des fonds   </TH>
    <TH> Origine des fonds   </TH>

    <TH> Plan Financement    </TH>
    <TH> Montant     </TH>
    <TH> Montant AR  </TH>
    <TH> Montant RE  </TH>

    <TH> Commentaire </TH>
    <TH> Fichier   </TH>
    <TH> Supprimer</TH>
</thead>
<tbody>
{% for depense in recettes %}
<TR>
       <TD><a href="{% url 'recettefull_detail' pkrec=depense.pk %}">{{depense.id}} / {{depense.myid}} </a></TD>
       <TD>{{ depense.structlev1  }}</TD>
       <TD>{{ depense.structlev2  }}</TD>
       <TD>{{ depense.structlev3  }}</TD>

       <TD>{{ depense.cptdeplev1  }}</TD>
       <TD>{{ depense.cptdeplev2  }}</TD>
       <TD>{{ depense.domfonc }}</TD>
       <TD>{{ depense.orfonds }}</TD>
       <TD>{{ depense.orfonds2 }}</TD>

       <TD>{{ depense.plfi    }}</TD>
       <TD>{{ depense.montant }}</TD>
       <TD>{{ depense.montantar }}</TD>
       <TD>{{ depense.montantre }}</TD>

       <TD>{{ depense.commentaire }}</TD>
       <TD>{{ depense.nom_des_fichiers }}</TD>

       <TD><a href="{% url 'recettefull_delete' pkrec=depense.pk %}">supprimer</a></TD>
</TR>
{% endfor %}
</tbody>
<tfoot>
     <tr><td> Total</td><td> {{ recettes.count }} entrees</td></tr>
</tfoot>
</TABLE>
<br>
<br>
<a href="{% url 'recettefull_new' %}" class="top-menu"> Nouvelle recette<span class="glyphicon glyphicon-plus"></span></a>

{% endblock %}


