{% extends 'base.html' %}

{% block content %}

<TABLE WIDTH=75% border=1>
<CAPTION> Depense </CAPTION>
<thead>
</thead>
<tbody>
    <TR> <TH> Identifiant </TH> <TD>{{ recette.myid    }}</TD> </TR>
    <TR> <TH> Structurel1   </TH> <TD>{{ recette.structlev1  }}</TD> </TR>
    <TR> <TH> Structurel2   </TH> <TD>{{ recette.structlev2  }}</TD> </TR>
    <TR> <TH> Structurel3   </TH> <TD>{{ recette.structlev3  }}</TD> </TR>

    <TR> <TH> Compte Depensel1      </TH> <TD>{{ recette.cptdeplev1  }}</TD> </TR>
    <TR> <TH> Compte Depensel2      </TH> <TD>{{ recette.cptdeplev2  }}</TD> </TR>
    <TR> <TH> Domaine Fonctionnel </TH> <TD>{{ recette.domfonc }}</TD> </TR>
    <TR> <TH> Origine des fonds   </TH> <TD>{{ recette.orfonds }}</TD> </TR>
    <TR> <TH> Origine des fonds   </TH> <TD>{{ recette.orfonds2 }}</TD> </TR>

    <TR> <TH> Plan Financement    </TH> <TD>{{ recette.plfi    }}</TD> </TR>
    <TR> <TH> Montant     </TH> <TD>{{ recette.montant }}</TD> </TR>
    <TR> <TH> Montant  AR   </TH> <TD>{{ recette.montantar }}</TD> </TR>
    <TR> <TH> Montant  RE   </TH> <TD>{{ recette.montantre }}</TD> </TR>
    <TR> <TH> Commentaire </TH> <TD>{{ recette.commentaire }}</TD> </TR>
    <TR> <TH> P&eacuteriode budg&eacutetaire </TH> <TD>{{ recette.periodebudget }}</TD> </TR>
    <TR> <TH> Fichier </TH> <TD>{{ recette.nom_des_fichiers }}</TD> </TR>
    <TR> <TH> Créé par </TH>     <TD>{{ recette.creepar }}</TD> </TR>
    <TR> <TH> Date de création </TH><TD>{{ recette.creele }}</TD> </TR>
    <TR> <TH> Modifié par </TH><TD>{{ recette.modifiepar }}</TD> </TR>
    <TR> <TH> Date de modification</TH><TD>{{ recette.modifiele }}</TD> </TR>
    <TR> <TH>  </TH></TD><TD><a href="{% url 'recettefull_delete2' pkrec=recette.id %}">supprimer</a></TD> </TR>


</tbody>
<tfoot>
</tfoot>
</TABLE>

{% with localpkcp=recette.structlev3.pk %}
       <TD><a href="{% url 'recettefull_parcp' pkcp=localpkcp %}">Retour à la liste</a></TD>
{% endwith %}

{% endblock %}
