{% extends 'base.html' %}

{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
       <TABLE id="bbf">
          <caption>Edition d'une recette</caption>
  <TR><th> Structure concern&eacutee: </th>
      <TD>{%if structure.parent %}
             {%with node=structure template_name="structure_tree_view_template.html" %}
               {%include "structure_tree_view_template.html" %}
             {% endwith %}
          {%endif%}
      </TD>
    {% if structure.name.errors %}
      <TD>{% for error in structure.name.errors %}{{ error|escape }}{% endfor %}</TD>
    {% endif %}
   </TR>

        {% for field in form %}
          <tr>
           <th> {{ field.label_tag }}</th>
           <td> {{ field }} </td>
           <td> {{ field.errors }} </td>
          </tr>
        {% endfor %}
       </TABLE>
    <button type="submit" class="save btn btn-default">Save</button>
    </form>



{% endblock %}

