{% extends 'base.html' %}

{% block content %}

<br><br>
{% with recettes|first as firstrec %}
<a href="{% url 'menu2_list' %}"> Accueil > </a>
&nbsp&nbsp&nbsp
<a class=info href=""> {{ firstrec.structlev1.name }} <span> {{ firstrec.structlev1.label }}</span></a> >
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a class=info href=""> {{ firstrec.structlev2.name }} <span> {{ firstrec.structlev2.label }} </span></a> >
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a class=info href="">{{ firstrec.structlev3.name }} <span> {{ firstrec.structlev3.label }} </span>></a>
<br>
<br>
<b><span id="cc"> CP {{ firstrec.structlev3.label }} ></span></b>
{% endwith %}
<br>

<br>
<br><br>
<a href="{% url 'menu2_list' %}"> Accueil > </a>
&nbsp&nbsp&nbsp
<a class=info href=""> {{ mastructurelev1.name }} <span> {{ mastructurelev1.label }}</span></a> >
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a class=info href=""> {{ mastructurelev2.name }} <span> {{ mastructrurelev2.label }} </span></a> >
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a class=info href="">{{ mastructurelev3.name }} <span> {{ mastructurelev3.label }} </span>></a>
<br>
<br>
<b><span id="cc"> CC {{ mastructurelev3.label }} ></span></b>
<br><br>

<br>
<a href="{% url 'recettefull_new2' %}" class="top-menu"> Nouvelle recette<span class="glyphicon glyphicon-plus"></span></a>
<br>
<br>

<TABLE WIDTH=100% border=1>
<CAPTION> Tableau des recettes</CAPTION>
<thead class="thcp">

    <TH> Plan Financement    </TH>
    <TH> Enveloppe </TH>
    <TH> Code du fond </TH>
    <TH> Nature de la recette </TH>
    <TH> Compte Budg&eacutetaire recette </TH>
    <TH> Code de la nature comptable secondaire </TH>
    <TH> Identifiant </TH>
    <TH> P&eacuteriode Budget. </TH>
    <TH> Montant     </TH>
    <TH> Montant RE  </TH>
    <TH> Montant AR  </TH>
    <TH> Montant DC  </TH>
    <TH> Commentaire </TH>
    <TH> Fichier   </TH>
    <TH> Créé par </TH>
    <TH> Date de création </TH>
    <TH> Modifié par </TH>
    <TH> Date de modification</TH>

</thead>
<tbody>
{% for recette in recettes %}
<TR class="tdcp">

       <TD>{{ recette.plfi }}</TD>
       <TD>{{ recette.cptdeplev1.enveloppe  }}</TD>
       <TD>{{ recette.cptdeplev1.fondbudget_recette.code  }}</TD>
       <TD>{{ recette.cptdeplev1.naturec_dep }}</TD>
       <TD>{{ recette.cptdeplev1.ccbd }}</TD>
       <TD>{{ recette.cptdeplev1.ncsecondairecode }}</TD>
       <TD><a href="{% url 'recettefull_edit2' pkrec=recette.pk %}">{{recette.id}} / {{recette.myid}} </a></TD>
       <TD>{{ recette.periodebudget    }}</TD>

       <TD>{{ recette.montant }}</TD>
       <TD>{{ recette.montantre }}</TD>
       <TD>{{ recette.montantar }}</TD>
       <TD>{{ recette.montantdc }}</TD>

       <TD>{{ recette.commentaire }}</TD>
       <TD>{{ recette.nom_des_fichiers }}</TD>
       <TD>{{ recette.creepar }}</TD>
       <TD>{{ recette.creele }}</TD>
       <TD>{{ recette.modifiepar }}</TD>
       <TD>{{ recette.modifiele }}</TD>

</TR>
{% endfor %}
</tbody>
<tfoot>
   <tr class="thcp"><td> Total</td><td> {{ recettes.count }} entrees</td> <td></td><td></td><td></td><td></td><td></td>
    <td></td> <td>{{total.montant__sum}}</td> <td>{{totalar.montantar__sum}}</td><td> {{totalre.montantre__sum}}</td>
    <td></td><td></td><td></td><td></td><td></td><td></td>

   </tr>
</tfoot>
</TABLE>
<br>

{% endblock %}


