{% extends "base.html" %}
{% load staticfiles %}

{% block head-additional %}
<link rel="stylesheet" href="{% static 'css/budgetweb.css' %}"/>
{% endblock %}

{% block content %}
<div class="col-md-12">
    {% include "detailspfi.html" %}
    <form id="formset" method="POST" action="{% url 'recette' pfiid=PFI.id annee=currentYear %}">
    {% csrf_token %}
    <table class='supertable' id='supertable' border="1">
    {% for form in formset %}
        {% if forloop.counter = 1 %}
        <thead>
            <tr>
            {% for field in form.visible_fields %}
                <th style="white-space:nowrap;">
                {% if field.name = "DELETE" %}
                    <span class="danger glyphicon glyphicon-trash"></span>
                {% else %}
                    {{ field.label }}
                {% endif %}
                </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% endif %}
        <tr>
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <td style="line-height:1; white-space:nowrap" align="center">{{ field }}{{ field.errors }}</td>
        {% endfor %}
     </tr>
    {% endfor %}
        </tbody>
    </table>
    {{ formset.management_form }}
    <button type="submit" class="save btn btn-primary">Enregistrer</button>
    </form>
</div>
{% endblock %}
{% block foot-javascript %}
<script src="{% static 'js/moment/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/budgetweb.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('#formset tbody tr').formset({
        addText: 'Ajouter une recette',
        deleteText: '<span class="danger glyphicon glyphicon-trash"></span>',
    });
</script>
{% endblock %}
