{% extends 'base.html' %}
{% load staticfiles %}

{% block head-javascript %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/mainmfjdsrec.js--' %}"></script>

{% endblock %}


{% block content %}
<br>
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
<br>

<table>
  <tr><th> P&eacuteriode budget : </th>
      <td>
         <table border = 5 bordercolor=blue>
          <tr><td>{{ mybudget }}</td></tr>
         </table>
       </td>
   </tr>

  <TR><th> Nouvelle recette sur la structure : </th>
      <TD>{%if mystructure.parent %}
             {%with node=mystructure template_name="structure_tree_view_template.html" %}
               {%include "structure_tree_view_template.html" %}
             {% endwith %}
          {%endif%}
      </TD>
    {% if structure.name.errors %}
      <TD>{% for error in structure.name.errors %}{{ error|escape }}{% endfor %}</TD>
    {% endif %}
   </TR>
  <tr><th> Nom du PFI : </th>
      <td>
         <table border = 5 bordercolor=blue>
          <tr>
           <td><p id="plfi">{{ myplfi.name }}</p>
           </td>
           {% if mypfi.name.errors %}
             <td>{% for error in myplfi.name.errors %}{{ error|escape }}{% endfor %} </td>
           {% endif %}
         </table>
        </td>
  </tr>

</table>
<br>

{% if recettefull_formset.errors %}
  {{recettefull_formset.errors}}
{% endif %}

<br>
<!-- debut  de la table pour le formulaire --!>
<table border = 5 bordercolor=blue style="background-color:#775500">

<form style="background-color:#775500" method="post">
    {% csrf_token %}

    {{ recettefull_formset.management_form }}

    {% for recettefull_form in recettefull_formset %}
            {{recettefull_form.id}}
        <br>
        <tr><td>
        <div class="recette-formset">
            {{ recettefull_form.myid }}
            {% if recettefull_form.myid.errors %}
                {% for error in recettefull_form.myid.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
            
            {{recettefull_form.cptdeplev1}}
            {% if recettefull_form.cptdeplev1.errors %}
                {% for error in recettefull_form.cptdeplev1.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {{ recettefull_form.domfonc.label_tag }}{{ recettefull_form.domfonc }}
            {% if recettefull_form.domfonc.errors %}
                {% for error in recettefull_form.domfonc.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {{ recettefull_form.montantdc }}
            {% if recettefull_form.montantdc.errors %}
                {% for error in recettefull_form.montantdc.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {{ recettefull_form.montantar }}
            {% if recettefull_form.montantar.errors %}
                {% for error in recettefull_form.montantar.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {{ recettefull_form.montantre }}
            {% if recettefull_form.montantre.errors %}
                {% for error in recettefull_form.montantre.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {{ reecttefull_form.commentaire }}
            {% if recettefull_form.commentaire.errors %}
                {% for error in recettefull_form.commentaire.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            {{ recettefull_form.myfile }}
            {% if recettefull_form.myfile.errors %}
                {% for error in recettefull_form.myfile.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}

            <!--- traitement des erreurs---!>
                    {% for field in recettefull_form.fields %}
                         {% if field.errors %}
                            {% for error in field.errors %}
                               {{ error|escape }}
                            {% endfor %}
                         {% endif %}
                    {% endfor %}

        </div>
        <br>
        </td></tr>
    {% endfor %}

<tr><td>
<br>
    {% if recettefull_formset.non_form_errors %}
        {% for error in recettefull_formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    <br>
    {% endif %}
</td></tr><tr><td>
    <input type="submit" value="Enregistrer" class="save btn btn-default">
</form>



<!-- fin de la table pour le formulaire --!>
</td></tr>
</table>
<!-- Include formset plugin - including jQuery dependency -->
<script>
    $('.recette-formset').formset({
                                   addText: 'Ajouter',
                                   deleteText: 'Supprimer'
                                });
</script>


<br>
<br>

{% endblock %}

