{%extends "base.html" %}
{% load staticfiles %}


{% block head-javascript %}
<script src="{% static 'js/mainjdsrec.js' %}"></script>

{% endblock %}

{% block content %}
    <h1>Nouvelle Recette</h1>

{% if error %}
<table border = 5 bordercolor=red>
   <tr><td>     {{ error }} 
   </tr></td>
</table>
{%endif %}


<form action="" method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
  <TABLE id="bbf">

  <TR><th> Nouvelle recette sur la tructure : </th><TD>

      {%if struct3.parent %}
          {%with node=struct3 template_name="structure_tree_view_template.html" %}
               {%include "structure_tree_view_template.html" %}
          {% endwith %}
      {%endif%}


       <select name="structlev3" id="structlev3">
               <option value="{{struct3.id}}">{{struct3.name}} -- {{struct3.label}}</option>
       </select>
  </TD></TR>


  <TR><th> Plan de financement </th><TD>
       <select name="plfi" id="plfi">
               <option value="{{plfin.id}}">{{plfin.name}} -- {{plfin.eotp}} -- {{plfin.myid}} </option>
       </select>
  </TD></TR>

  <TR><th> type d'enveloppe de recettes </th><TD>
       <select name="cptdeplev1type" id="cptdeplev1type">
        <option value="0"> choisissez un type d enveloppe</option>
       </select>
  </TD></TR>

  <TR><th> Enveloppe </th><TD>
       <select name="cptdeplev1" id="cptdeplev1">
        <option value="0"> choisissez une enveloppe</option>
       </select>
      <p id="displaycompte"> </p> 
  </TD></TR> 

  <TR><th> Domaine fonctionnel </th><TD>
       <select name="domfonc" id="domfonc" readonly>
               <option value="NA"> NA </option>
       </select>
  </TD></TR>

  <TR><th> Montant RE</th><TD><input type="text" name="montantre" id="montantre" ></TD></TR>
  <TR><th> Montant AR</th><TD><input type="text" name="montantar" id="montantar" ></TD></TR>
  <TR><th> Montant droits constat&eacutes</th><TD><input type="text" name="montantdc" id="montantdc" ></TD></TR>
  <TR><th> Commentaire </th><TD><input type="text" name="commentaire" id="commentaire" size=100></TD></TR>
  <TR><th> URL vers le fichier </th> <TD><INPUT type="text" name="nom_des_fichiers"></TD></TR>
 </table>
  <button type="submit" class="save btn btn-default"> Ajouter </button>
</form>

{% endblock %}
