{% extends "base.html" %}
{% load staticfiles %}

{% block head-additional %}
<link rel="stylesheet" href="{% static 'css/budgetweb.css' %}"/>
{% endblock %}

{% block content %}
<div class="col-md-12">
    {% include "detailspfi.html" %}
    <form id="formset" method="POST" action="{% url 'recette' pfiid=PFI.id annee=currentYear %}">
    {% csrf_token %}
    <table class='supertable recette' id='supertable' border="1">
    {% for form in formset %}
        {% if forloop.counter = 1 %}
        <thead>
            <tr><th colspan="10" align="center">Formulaire de saisies des recettes.</th></tr>
            <tr>
            {% for field in form.visible_fields %}
                <th style="white-space:nowrap;">
                  {% if field.name = "DELETE" %}
                      <span class="danger glyphicon glyphicon-trash"></span>
                  {% else %}
                    {% if field.name = "commentaire" %}
                        <span class="danger glyphicon glyphicon-comment"></span>
                    {% else %}
                          {{ field.label }}
                    {% endif %}
                  {% endif %}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% endif %}
            <tr class="{% cycle 'row1' 'row2' %}">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
              {% if field.name = "commentaire" or field.name = "lienpiecejointe" %}
                <td align="center">
                  <span data-backdrop="false" data-toggle="modal" data-target="#modalCommentaire" data-formid="{{ field.id_for_label }}" class="glyphicon glyphicon-comment"></span>
                  <div style="visibility:hidden;height:0px;width:0px;">{{ field }}</div>
                  {{ field.errors }}
                </td>
              {% else %}
                <td style="line-height:1; white-space:nowrap" align="center">{{ field }}{{ field.errors }}</td>
              {% endif %}
  	        {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ formset.management_form }}
    <button type="submit" class="save btn btn-primary">Enregistrer</button>
    </form>
</div>

<div class="modal fade model-wide" id="modalCommentaire" role="dialog">
<div class="modal-dialog">
   <!-- Modal content-->
   <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title">Commentaire</h4>
     </div>
     <div class="modal-body">
       <textarea cols="60" id="modalcomm" name="modalcomm" rows="10"></textarea>
       <input type="textfield" size="10" id="inputformid" name="inputformid" hidden />
       <button id="modal-submit" data-dismiss="modal" type="submit" class="save btn btn-primary">Valider</button>
     </div>
     <div class="modal-footer">
       <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
    </div>
  </div>
</div>
{% endblock %}
{% block foot-javascript %}
<script src="{% static 'js/moment/moment-with-locales.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/budgetweb.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#modalCommentaire').on('show.bs.modal', function(e) {
           $('#inputformid').attr('value', $(e.relatedTarget).data('formid'));
           $('#modalcomm').val($('#' + $(e.relatedTarget).data('formid')).val());
        });
        $('#modal-submit').on('click', function(e) {
          dest = $('#inputformid').attr('value');
          $('#' + dest).val($('#modalcomm').val());
        });
    });
    $('#formset tbody tr').formset({
        addText: 'Ajouter une recette',
        addCssClass: 'btn-primary btn',
        deleteText: '<span class="danger glyphicon glyphicon-trash"></span>',
    });
</script>
{% endblock %}
