<li>
	<span style="width:auto;" class="cf" toto="{{ node.title }}">
		<i class="glyphicon glyphicon-plus"></i>
		{{ node.title }}
	</span>
	{% if typeAffichage == "gbcp" %}
		<div class="showTree">50 000,00 &euro;</div>
		<div class="showTree">50 000,00 &euro;</div>
		<div class="showTree">&nbsp;</div>
		<div class="showTree">50 000,00 &euro;</div>
		<div class="showTree">50 000,00 &euro;</div>
	{% else %}
		<div class="showTree">50 000,00 &euro;</div>
		<div class="showTree">&nbsp;</div>
		<div class="showTree">50 000,00 &euro;</div>
	{% endif %}
		<ul id="{{ node.title }}">
         {%for ch in node.getChild %}
              {%with node=ch template_name="show_tree_template.html" %}
                   {% include template_name with typeAffichage="typeAffichage" %}
              {%endwith%}
         {%endfor%}
		 </ul>
</li>
