{% extends "base.html" %}
{% load staticfiles %}
{% load budgetweb_tags %}

{% block head-additional %}
	<link rel="stylesheet" href="{% static 'css/budgetweb.css' %}"/>
{% endblock %}

{% block content %}
<div class="col-md-12 well">
	<div class="title showTree" style="padding-bottom:5px;">
	{% if typeAffichage == "gbcp" %}
		<div>&sum; Rec. RE</div>
		<div>&sum; Rec. AR</div>
		<div>&nbsp;</div>
		<div>&sum; Dép. CP</div>
		<div>&sum; Dép. AE</div>
	{% else %}
		<div>&sum; Rec. DC</div>
		<div>&nbsp;</div>
		<div>&sum; Dép. DC</div>
	{% endif %}
	</div><br />
	<div class="title showTree">
    {% if typeAffichage == "gbcp" %}
			  <span style="margin-left:20px;width:160px;" class="bold">Total Unistra</span>
        <div class="bold">{% firstof total.recette_montant_re|intspace "0,00" %} &euro;</div>
        <div class="bold">{% firstof total.recette_montant_ar|intspace "0,00" %} &euro;</div>
        <div>&nbsp;</div>
        <div class="bold">{% firstof total.depense_montant_cp|intspace "0,00" %} &euro;</div>
        <div class="bold">{% firstof total.depense_montant_ae|intspace "0,00" %} &euro;</div>
    {% else %}
        <span style="margin-left:20px;width:160px;" class="bold">Total Unistra</span>
				<div class="bold">{% firstof total.recette_montant_dc|intspace "0,00" %} &euro;</div>
        <div>&nbsp;</div>
        <div class="bold">{% firstof total.depense_montant_dc|intspace "0,00" %} &euro;</div>
    {% endif %}
    </div>
	<div class="tree">
		<ul>
		{% include "show_sub_tree.html" %}
		</ul>
	</div>
</div>
{% endblock %}

{% block foot-javascript %}
<script src="{% static 'js/budgetweb.tree.js' %}"></script>
{% endblock %}
