{% extends "base.html" %}
{% load budgetweb_tags static %}

{% block head-additional %}
	<link rel="stylesheet" href="{% static 'css/budgetweb.css' %}"/>
{% endblock %}

{% block content %}
<div class="col-md-12 well flextable">
	<div class="tr th">
    <div class="td struct">&nbsp;</div>
    {% for col in cols.0 %}
	<div class="td" data-placement="bottom" data-toggle="tooltip" data-title="{{ col.1 | safe }}">{{ col.0 | safe }}</div>
    {% endfor %}
	<div class="td empty">&nbsp;</div>
    {% for col in cols.1 %}
	<div class="td" data-placement="bottom" data-toggle="tooltip" data-title="{{ col.1 | safe }}">{{ col.0 | safe }}</div>
    {% endfor %}
	</div>
	<div class="tr">
        <div class="td struct">
	       <span style="margin-left:20px;width:160px;" class="bold">Total Unistra</span>
        </div>
        {% for col in total.0 %}
        <div class="bold td">{% firstof col|floatformat:2|intspace "0,00" %} &euro;</div>
        {% endfor %}
        <div class="td empty">&nbsp;</div>
        {% for col in total.1 %}
        <div class="bold td">{% firstof col|floatformat:2|intspace "0,00" %} &euro;</div>
        {% endfor %}
    </div>
	<div class="tree">
		<ul>
		{% include "show_sub_tree.html" %}
		</ul>
	</div>
</div>
{% endblock %}

{% block foot-javascript %}
<script src="{% static 'js/budgetweb.tree.js' %}"></script>
{% endblock %}
