{% extends "base.html" %}
{% load staticfiles %}

{% block head-additional %}
	<link rel="stylesheet" href="{% static 'css/budgetweb.css' %}"/>
{% endblock %}

{% block content %}
<div class="col-md-12">
	<div class="title showTree">
	{% if typeAffichage == "gbcp" %}
		<div style="margin-right:20px;">&sum; Rec. RE</div>
		<div>&sum; Rec. AR</div>
		<div>&nbsp;</div>
		<div>&sum; Dép. CP</div>
		<div>&sum; Dép. AE</div>
	{% else %}
		<div style="margin-right:20px;">&sum; Rec. DC</div>
		<div>&nbsp;</div>
		<div>&sum; Dép. DC</div>
	{% endif %}
	</div>
	<div class="tree well">
		<ul>
		{% include "show_sub_tree.html" %}
		</ul>
	</div>
</div>
{% endblock %}

{% block foot-javascript %}
<script src="{% static 'js/budgetweb.tree.js' %}"></script>
{% endblock %}