<li>
	<span style="width:auto;" toto="{{ node.title }}">
		<i class="glyphicon glyphicon-plus"></i>
		{{ node.title }}
	</span>
	<div class="showTree">100 000 &euro;</div>
	<div class="showTree">100 000 &euro;</div>
	<div class="showTree">100 000 &euro;</div>
	<div class="showTree">&nbsp;</div>
	<div class="showTree">300 000 &euro;</div>
	<div class="showTree">400 000 &euro;</div>
	<div class="showTree">500 000 &euro;</div>
		<ul id="{{ node.title }}">
         {%for ch in node.getChild %}
              {%with node=ch template_name="show_tree_template.html" %}
                   {%include template_name%}
              {%endwith%}
         {%endfor%}
		 </ul>
</li>
