{% extends 'base.html' %}

{% block content %}
<h1>Liste des structures</h1>


<form action="" method="POST">{% csrf_token %}
<TABLE id="bbf">
   <TR><TH>Nom </TH><TD>
            <input type="text" name="stname"></TD>
   </TR>
   <TR><TH>Libellé </TH><TD>
            <input type="text" name="stlabel"></TD>
   </TR>
       <input type="submit" value="chercher">
    </TABLE>
</form>

<br>
<br>

<TABLE id="bbf">
<CAPTION> Tableau des structures </CAPTION>
<thead>
    <TH> Id app/ID </TH>
    <TH> Type </TH>
    <TH> Nom </TH>
    <TH> Libellé </TH>
    <TH> Parent Id </TH>
    <TH> Ordre </TH>
    <TH> Niv </TH>
    <TH> Bloq </TH>
    <TH> Modifdate </TH>
    <TH> Modifpar </TH>
    <TH> dfmc </TH>
    <TH> fdr </TH>
    <TH> Editer </TH>
    <TH> Supprimer</TH>
</thead>
<tbody>
{% for reponse in reponses %}
<TR>
       <TD><a href="{% url 'structure_detail' pkst=reponse.pk %}">{{ reponse.myid }}/{{ reponse.id }}</a></TD>
       <TD> --{{ reponse.type }}--  </TD>
       <TD> {{ reponse.name   }}  </TD>
       <TD> {{ reponse.label  }}  </TD>
       <TD> --{{ reponse.parentid   }}--  </TD>
       <TD> {{ reponse.ordre  }}  </TD>
       <TD> {{ reponse.niv }}  </TD>
       <TD> {{ reponse.bloq }}  </TD>
       <TD> {{ reponse.modifdate }}  </TD>
       <TD> {{ reponse.modifpar }}  </TD>
       <TD> {{ reponse.dfmc }}  </TD>
       <TD> {{ reponse.fdr }}  </TD>
       <TD><a href="{% url 'structure_edit' pkst=reponse.pk %}">editer</a></TD>
       <TD><a href="{% url 'structure_delete' pkst=reponse.pk %}">supprimer</a></TD>
</TR>
{% endfor %}
</tbody>
<tfoot>
     <tr><td> Total</td><td> {{ reponses.count }} entrees</td></tr>
</tfoot>
</TABLE>
<br>
<br>
<a href="{% url 'structure_new' %}" class="top-menu"> Nouvelle structure<span class="glyphicon glyphicon-plus"></span></a>

{% endblock %}


