{% load budgetweb_tags %}

<table class="table-pluri depense" style="width:100%;">
  <thead>
    <tr>
      <th colspan="13" style="text-align:left;padding-left:50px;">
    {% if PFI %}
        <a href="{% url 'depense' pfiid=PFI.id annee=year %}">Liste des dépenses</a>
    {% else %}
        Liste des dépenses
    {% endif %}
      </th>
    </tr>
    <tr>
      <th>Année</th>
      <th>Période</th>
      <th>PFI</th>
      <th>CF</th>
      <th>Enveloppe</th>
      <th>Nature Comptable</th>
      <th>Compte Budgétaire</th>
      <th>Domaine Fonctionnel</th>
      <th>AE</th>
      <th>CP</th>
      <th>Charges<br />Immos</th>
      <th>Comm.</th>
      <th>PJ</th>
    </tr>
  </thead>
  <tbody>
  {% for depense in depenses %}
    {% with previous_element=depenses|previous:forloop.counter0 %}
    {% ifchanged depense.naturecomptabledepense.code_compte_budgetaire %}
      {% if not forloop.first %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td colspan="8" style="text-align:right;padding-right:20px;font-weight:bold;">Sous total par compte budgétaire</td>
        {% with code_compte=previous_element.naturecomptabledepense.code_compte_budgetaire|add:", depense" %}
          {% with code_compte_cf=code_compte|add:", " %}
            {% with code_compte_cf_full=code_compte_cf|add:previous_element.pfi.structure.code %}
              {% with list_value=depenses|sum_by_code:code_compte_cf_full %}
                {% for value in list_value %}
                  <td class="montant bold" nowrap>{{ value|intspace}} &euro;</td>
                {% endfor %}
              {% endwith %}
            {% endwith %}
          {% endwith %}
        {% endwith %}
        <td colspan="2"></td>
      </tr>
      {% endif %}
    {% endifchanged %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <td>{{ depense.annee }}</td>
      <td>{{ depense.periodebudget.period.code }}</td>
      <td>{{ depense.pfi.code }}</td>
      <td>{{ depense.pfi.structure.code }}</td>
      <td>{{ depense.naturecomptabledepense.enveloppe }}</td>
      <td>{{ depense.naturecomptabledepense.label_nature_comptable }}</td>
      <td>{{ depense.naturecomptabledepense.code_compte_budgetaire }}</td>
      <td>{{ depense.domainefonctionnel.code }}</td>
      <td class="montant" nowrap>{{ depense.montant_ae|intspace }} &euro;</td>
      <td class="montant" nowrap>{{ depense.montant_cp|intspace }} &euro;</td>
      <td class="montant" nowrap>
        {% if depense.periodebudget.period.code|startswith:'VIR' %}
          <a href="#" data-backdrop="false" data-toggle="modal"
             data-target="#modalMontantDC"
             data-pk="{{ depense.pk }}"
             data-type="depense"
             data-value="{{ depense.montant_dc }}">
              {{ depense.montant_dc|intspace }} &euro;
          </a>
        {% else %}
          {{ depense.montant_dc|intspace }} &euro;
        {% endif %}
      </td>
      <td align="center">
      {% if depense.commentaire %}
        <a href="#">
          <span data-backdrop="false" data-toggle="modal" data-target="#modalCommentaire" data-formid="{{ depense.commentaire }}" class="glyphicon glyphicon-paperclip" title="Afficher"></span>
        </a>
      {% else %}
          &nbsp;
      {% endif %}
      </td>
      <td align="center">
        {% if depense.lienpiecejointe %}
        <a href="#">
          <span data-backdrop="false" data-toggle="modal" data-target="#modalPieceJointe" data-formid="{{ depense.lienpiecejointe }}" class="glyphicon glyphicon-paperclip" title="Afficher"></span>
        </a>
        {% else %}
          &nbsp;
        {% endif %}
      </td>
    </tr>
    {% if forloop.last %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td colspan="8" style="text-align:right;padding-right:20px;font-weight:bold;">Sous total par compte budgétaire</td>
        {% with code_compte=previous_element.naturecomptabledepense.code_compte_budgetaire|add:", depense" %}
          {% with code_compte_cf=code_compte|add:", " %}
            {% with code_compte_cf_full=code_compte_cf|add:previous_element.pfi.structure.code %}
              {% with list_value=depenses|sum_by_code:code_compte_cf_full %}
                {% for value in list_value %}
                  <td class="montant bold" nowrap>{{ value|intspace}} &euro;</td>
                {% endfor %}
              {% endwith %}
            {% endwith %}
          {% endwith %}
        {% endwith %}
        <td colspan="2"></td>
    </tr>
    {% endif %}
  {% endwith %}
{% empty %}
    <tr><td colspan="13">Aucune dépense trouvée pour ce PFI</td></tr>
{% endfor %}
  <tr>
    <td colspan="8" style="text-align:right;padding-right:20px;font-weight:bold;">Total :</td>
    <td nowrap style="background-color:#66ff66;font-weight:bold;text-align:right;">{% firstof sums.0.sum_ae|intspace "0,00" %} &euro;</td>
    <td nowrap style="background-color:#66ff66;font-weight:bold;text-align:right;">{% firstof sums.0.sum_cp|intspace "0,00" %} &euro;</td>
    <td nowrap style="background-color:#66ff66;font-weight:bold;text-align:right;">{% firstof sums.0.sum_dc|intspace "0,00" %} &euro;</td>
    <td colspan="2">&nbsp;</td>
  </tr>
</tbody>
</table>
