{% load budgetweb_tags %}

<table class="table-pluri recette" style="width:100%;">
  <thead>
    <tr>
      <th colspan="13" style="text-align:left;padding-left:50px;">
    {% if PFI %}
        <a href="{% url 'recette' pfiid=PFI.id annee=year %}">Liste des recettes</a>
    {% else %}
        Liste des recettes
    {% endif %}
      </th>
    <tr>
      <th>Année</th>
      <th>Période</th>
      <th>PFI</th>
      <th>CF</th>
      <th>Enveloppe</th>
      <th>Nature Comptable</th>
      <th>Compte Budgétaire</th>
      <th>Fonds</th>
      <th>AR</th>
      <th>RE</th>
      <th>Produits<br />Ressources</th>
      <th>Comm.</th>
      <th>PJ.</th>
    </tr>
  </thead>
  <tbody>
  {% regroup recettes by naturecomptablerecette.code_compte_budgetaire as recettes_list %}
  {% for recettes_group in recettes_list %}
    {% for recette in recettes_group.list %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <td>{{ recette.annee }}</td>
      <td>{{ recette.periodebudget.period.code }}</td>
      <td>{{ recette.pfi.code }}</td>
      <td>{{ recette.pfi.structure.code }}</td>
      <td>{{ recette.naturecomptablerecette.enveloppe }}</td>
      <td>{{ recette.naturecomptablerecette.label_nature_comptable }}</td>
      <td>{{ recette.naturecomptablerecette.code_compte_budgetaire }}</td>
      <td>{{ recette.naturecomptablerecette.code_fonds }}</td>
      <td class="montant" nowrap>{{ recette.montant_ar|intspace }} &euro;</td>
      <td class="montant" nowrap>{{ recette.montant_re|intspace }} &euro;</td>

      <td class="montant" nowrap>
        {% if recette.periodebudget.period.code|startswith:'VIR' %}
          <a href="#" data-backdrop="false" data-toggle="modal"
             data-target="#modalMontantDC"
             data-pk="{{ recette.pk }}"
             data-type="recette"
             data-value="{{ recette.montant_dc }}">
              {{ recette.montant_dc|intspace }} &euro;
          </a>
        {% else %}
          {{ recette.montant_dc|intspace }} &euro;
        {% endif %}
      </td>
      <td align="center">
        {% if recette.commentaire %}
          <a href="#">
            <span data-backdrop="false" data-toggle="modal" data-target="#modalCommentaire" data-formid="{{ recette.commentaire }}" class="glyphicon glyphicon-paperclip" title="Afficher"></span>
          </a>
        {% else %}
          &nbsp;
        {% endif %}
      </td>
      <td align="center">
        {% if recette.lienpiecejointe %}
          <a href="#">
            <span data-backdrop="false" data-toggle="modal" data-target="#modalPieceJointe" data-formid="{{ recette.lienpiecejointe }}" class="glyphicon glyphicon-paperclip" title="Afficher"></span>
          </a>
        {% else %}
          &nbsp;
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% subtotal recettes_group.list "AR RE DC" %}
  {% empty %}
    <tr><td colspan="13">Aucune recette trouvée pour ce PFI</td></tr>
  {% endfor %}
    
    <tr>
      <td colspan="8" style="text-align:right;padding-right:20px;font-weight:bold;">Total :</td>
      <td nowrap style="background-color:#ff6666;font-weight:bold;text-align:right;">{% firstof sums.0.sum_ar|intspace "0,00" %} &euro;</td>
      <td nowrap style="background-color:#ff6666;font-weight:bold;text-align:right;">{% firstof sums.0.sum_re|intspace "0,00" %} &euro;</td>
      <td nowrap style="background-color:#ff6666;font-weight:bold;text-align:right;">{% firstof sums.0.sum_dc|intspace "0,00" %} &euro;</td>
      <td colspan="2">&nbsp;</td>
    </tr>
  </tbody>
</table>
