ul {
    margin:0px;
    padding:0px;
}

.form-control{
    height:30px;
    width:auto;
    display:inline-block;
}

label {
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

textarea {
  width: 100%;
}

.table-pluri thead th {
  text-align: center;
  font-weight: bold;
  border: 3px solid #000000;
  padding: 5px;
}

.table-pluri tbody tr {
  border-right: 3px solid #000000;
  border-left: 3px solid #000000;
}

.table-pluri tbody td {
  border: 1px solid #000000;
  padding: 5px;
}
.table-pluri tbody td.money {
  text-align:right;
}

.table-pluri tbody {
  border-bottom: 3px solid #000000;
}

.table-pluri .total {
  font-weight: bold;
  text-align: right;
}

.table-pluri .total-txt {
  text-align: right;
  padding-right: 20px;
  font-weight:bold;
}

.table-details {
  text-align:center;
}

.container {
  width:100%;
}

.pluri {
  display: inline-block;
  width: 150px;
  text-align: right;
  vertical-align: middle;
  font-weight: bold;
}

.pluri.total {
  width: 50px;
}

.supertable {
    margin-bottom: 20px;
    width:100%;
}
.supertable tbody td{
    padding: 2px 5px;
}
.supertable thead th{
  padding: 5px 10px 5px 10px;
  font-size: 1.1em;
}
.supertable select {
    width: 100%;
}
.depense thead th, .depense .total {
  background-color: #66ff66
}
.depense tr.row1 {
  background-color: #ccffcc;
}
.depense tr.row2 {
  background-color: #99ff99;
}
.depense tr.error {
  background-color: #FF9292;
}
.recette thead th, .recette .total {
  background-color: #ff6666
}
.recette tr.row1 {
  background-color: #ffcccc;
}
.recette tr.row2 {
  background-color: #ff9999;
}
.recette tr.error {
  background-color: #FF9292;
}
ul.errorlist {
  color: #F00;
  font-weight: bold;
  list-style-type: none;
}

fieldset {
  border: 1px solid #000000;
  padding: 5px;
  margin-bottom: 20px;
}

legend {
  margin-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  width: auto;
  border: 0px solid;
}

.recette-color {
  color: #775500;
}

.depense-color {
  color: #009900;
}
.pluri-color {
  color: #9900ff;
}

.cf {
  color: #0000bb;
}

.montant {
    text-align: right;
}

td.blank_row {
  line-height:5px;
}

.resumepfi {
  border: 3px solid black;
}

.resumepfi th {
  text-align: center;
  border: 3px solid #000000;
  padding: 2px;
}

.resumepfi td {
  border: 1px solid #000000;
  padding: 5px;
  text-align: right;
}

.bold {
  font-weight: bold;
}

input[readonly]{
  /*background-color:#A9A9A9;*/
  background-color: transparent;
  border: none;
}
input.decimal{
        text-align:right;
        width:90px;
}

.alert-error {
    color: #f00;
}

/*************/
/* Flex tree */
/*************/

.flextable {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
}

.flextable li {
  list-style-type: none;
}

.td.struct {
  /*min-width: 300px;
  max-width: 300px;*/
  min-width: 20%;
  max-width: 20%;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  white-space: normal;
}

.tree li.parent_li>div span {
    cursor:pointer;
}


.td.empty {
  max-width: 100px;
}

.th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.th > .td {
  white-space: normal;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.2em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

/*****************/
/* Media queries */
/*****************/

@media print {
  fieldset {
    border: none;
  }

  .tab-content > .tab-pane {
    display: block;
    margin-bottom: 20px;
    page-break-after: auto;
    page-break-inside: avoid;
    position: relative;
  }

  .tab-content > .tab-pane[data-tabname]:before {
    content:attr(data-tabname);
    font-size: 20px;
  }

  .nav-tabs {
    display:none;
  }
}

/**********/
/* Header */
/**********/

#period_years button {
  border: none;
  background: none;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  color: #333;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}

#period_years button:hover, #period_years button:focus{
  text-decoration: none;
  color: #fff;
  background-color: #358cd3
}