

/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.9em;
}
table,tr,td {
	vertical-align: top;
	white-space: nowrap;
}
table {
	background-color:#cccccc;
}
th, td {
	padding-right: 2px;
	padding-left: 2px;
}	
th {
	vertical-align:middle;
	font-style:italic;
}	
.td {
	background-color:#eeeeee;
}
.th {
	background-color:#dddddd;
}
/*.it {
	font-style:italic;
}
tr {
	background-color:#eeeeee;
}*/


.traits {
	font-family: Courier, Courier New, OCR A Extended, mono;
}
img.pm {
	border-width:0;
	width:9px;
	height:9px;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}
a:hover {background-color: black; }
span.cf, a.cf {color:#0000bb}
span.cp, a.cp {color:#775500}
span.cc, a.cc {color:#009900}
a.cf:hover {background-color:#0000bb}
a.cp:hover {background-color:#775500}
a.cc:hover {background-color:#009900}
a:hover { color: white}
a.info{
/*
http://dypso.free.fr/tech/css_infobulle.php
*/
    position:relative; 
    z-index:24; 
}
a.info:hover{z-index:25}
a.info span{display: none}
a.info:hover span{ 
	display:block; 
	position:absolute;
	top:-2px; 
	left:5em; 
	border:1px solid #666666;
	background-color:#eeeeee; 
	color:#666666;
	text-align: justify;
	font-weight:normal;
	padding:1px;
}


.mt {
	text-align: right;
	font-style: italic;
}
.bl {
	background-color:#FFFFFF;
	padding-right: 0px;
	padding-left: 0px;
}

.attention {
	color:#FF0000;
	font-weight:bold;
	font-style:normal;
	text-decoration:blink;
	text-decoration:underline;
}



.thcf {
	background-color:#ddddFF;
	color: #0000bb;
}
.thcp {
	background-color:#FFeedd;
	color: #775500;
}
.thcc {
	background-color:#ddFFdd;
	color: #009900;
}
.tdcf {
	background-color:#EEEEFF;
	color: #0000bb;
}
.tdcp {
	background-color:#FFFAEE;
	color: #775500;
}
.tdcc{
	background-color:#EEFFEE;
	color: #009900;
}

/*
#cc tr {
	background-color:#EEFFEE;
}
#cf tr {
	background-color:#EEEEFF;
}
#cp tr {
	background-color:#FFFAEE;
}
#cc td {
	background-color:#EEFFEE;
}
#cf td {
	background-color:#EEEEFF;
}
#cp td {
	background-color:#FFFAEE;
}
tr.cf {
	background-color:#ddddFF;
}
tr.cp {
	background-color:#FFeedd;
}
tr.cc {
	background-color:#ddFFdd;
}

#cf a:hover, #cc a:hover, #cp a:hover {color: white}
*/






#cf a {color: #0000bb}
#cp a {color: #775500}
#cc a {color: #009900}
#cf a:hover {background-color: #0000bb; color: white}
#cp a:hover {background-color: #775500; color: white}
#cc a:hover {background-color: #009900; color: white}
/*
#cf {color: #0000bb}
#cc {color: #009900}
#cp {color: #775500}
*/

input, select {
	font-family:"Lucida Console","Courier New", Courier, mono;
	font-size: 1em;
}
select, input.comment {
	width:70em;
}
body.cf {
	background-color: #EEEEFF;
}
body.cc {
	background-color: #EEFFEE;
}#cache {

	position: absolute;

	top: 50%;

	left: 50%;

	width: 1000px;

	height: 600px;

	margin-left: -500px;

	margin-top: -300px;

	background-color: #000000;

	text-align: center;

	z-index: 10;

	visibility: hidden;

	color: #ffffff;

}
body.cp {
	background-color: #FFFAEE;
}
#alerte {
	background-color: #FFeeee;
	font-weight: bold;
	color: #FF0000;
	border: 2px solid #FF0000;
	padding-right: 2px;
	padding-left: 2px;
	
/*	color: #CC0000;
	background-color: #FFFFCC;#cache {

	position: absolute;

	top: 50%;

	left: 50%;

	width: 1000px;

	height: 600px;

	margin-left: -500px;

	margin-top: -300px;

	background-color: #000000;

	text-align: center;

	z-index: 10;

	visibility: hidden;

	color: #ffffff;

}
	margin: 0.5em 0 0.5em 0;
	border: 0.1em solid #CC0000;
	background-image: url(../<?php echo $GLOBALS['cfg']['ThemePath']; ?>/original/img/s_warn.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
	padding: 10px 10px 10px 36px;*/

}
#avert {
	background-color:#FFffdd;
	font-weight: bold;
	color: #FF6600;
	border: 2px solid #FF6600;
	padding-right: 2px;
	padding-left: 2px;
}



.cfover {
    background: #bbbbFF;
}
.cpover {
    background: #FFddbb;
}
.ccover {
    background: #bbFFbb;
}

#min {
	font-size: x-small;
	position:absolute;
	left:0px;
	top:0px;
	width:/*65px;
	height:44px;*/
	z-index:1;
}


/*

ajout intégration UDS'style

*/
body {
	margin: 0px;
}

div.popup {
	display: block;
	font-size: 11px;
	margin: 0px;
	margin-left: 2%;
	width: auto;
	border: 1px solid;
	padding: 4px 5px 4px 5px;
}
.rich-table {
	min-width: 800px;
}
	
.rich-table-cell, .rich-extdt-cell {
	text-align: right;
	white-space: nowrap;
}

.rich-table-footercell {
	text-align: center;
}

.rich-mpnl-body span {
	color: #000;
	font-size: 1em;
}

.pointable {
	cursor: pointer;
}

.adresseTiersTitre {
	border-bottom: 1px solid;
	margin: 0;
	text-align: left;
}

https://sifac-proxy.u-strasbg.fr/sifacweb/media/skins/universality/uds/application.layout.css

.fl-theme-app {
	min-width: 800px;
}

/* Header */
.fl-theme-app .app-header {
	position: relative;
}

.fl-theme-app .app-header div.logo {
	position: absolute;
}

.fl-theme-app .app-header div.header_suite {
	position: relative;
}

.fl-theme-app .app-header div.header_suite div.titreAppli {
	text-align: center;
}

.fl-theme-app .app-header div.header_suite div.user_displayName {
	width: 49%;
	left: 50%;
	top: 40%;
	text-align: right;
	position: absolute;
}

.fl-theme-app .app-header div.header_suite div.version {
	width: 49%;
	left: 50%;
	top: 65%;
	text-align: right;
	position: absolute;
}

/* Portal Page Bar */
.fl-theme-app ul.app-pagebar {
	text-align: center;
	vertical-align: bottom;
	list-style: none;
	margin: 0;
	padding: 0;
}

.fl-theme-app ul.app-pagebar li.app-pagebar-item {
	display: inline;
	border-spacing: 0;
}

.fl-theme-app ul.app-pagebar li.app-pagebar-item input {
	width: 24%;
	margin: 0;
	padding: 0;
}

.fl-theme-app ul.app-pagebar li.app-pagebar-item-selected {
	display: inline;
	border-spacing: 0;
}

.fl-theme-app ul.app-pagebar li.app-pagebar-item-selected input {
	width: 24%;
	margin: 0;
	padding: 0;
}

.fl-theme-app ul.app-pagebar li.hover {
	display: inline;
}

.fl-theme-app ul.app-pagebar li.hover input {
	width: 24%;
	margin: 0;
	padding: 0;
}

/* Body */
.fl-theme-app div.app-body {
	min-height: 400px;
	list-style: none;
}

.fl-theme-app div.app-body th,
.fl-theme-app div.app-body td {
	/*border:none;*/
}

/* Navigation */
.fl-theme-app div.app-body div.app-navigation {
	position: relative;
	float: left;
	z-index: 100;
	width: 13%;
	margin: 0;
	padding: 0;
}

.fl-theme-app div.app-body div.app-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.fl-theme-app div.app-body div.app-navigation li {
	position: relative;
	display: block;
	height: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.fl-theme-app div.app-body div.app-navigation ul li ul {
	position: absolute;
	width: 250px;
	left: 100%;
	top: -1px;
	height: auto;
	display: none;
	margin: 0;
	padding: 0;
}

.fl-theme-app div.app-body div.app-navigation ul li a {
	display: block;
}

.fl-theme-app div.app-body div.app-navigation ul li:hover ul,
.fl-theme-app div.app-body div.app-navigation ul li.hover ul {
	display: block;
	margin: 0;
	padding: 0;
}

.fl-theme-app div.app-body div.app-navigation ul li ul li {
	position: relative;
	display: block;
	border: 0;
	height: 20px;
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 0;
}

/* Content */
.fl-theme-app div.app-body div.app-content {
	/*
	float: right;
	z-index: 0;
	width: 86%;*/
	position: relative;
	min-height: 400px;
	margin: 0;
	padding: 0;
}

/*## For use e:dataTable ##*/
.fl-theme-app table.paginatorData {
	width: 100%;
	border: none;
	padding: 0 0 2px 0;
	text-align: center;
	border-spacing: 2px;
}

/*## For use panelGrid column ##*/
.fl-theme-app .col1UnDemi {
	width: 50%;
	text-align: left;
}

.fl-theme-app .col2UnDemi {
	width: 50%;
	text-align: right;
}

.fl-theme-app .col2rigthItaVAm {
	width: 100%;
	text-align: right;
	align: right;
	vertical-align: middle;
}


/* Header */
.fl-theme-app .app-header { background-image: url("images/background_body.jpg"); background-repeat: repeat; padding-left: 3px; height: 80px; }
.fl-theme-app .app-header div.logo { background-repeat: no-repeat; background-image: url("images/logo-header.png"); top: 23px; height: 56px; width: 160px; }
.fl-theme-app .app-header div.header_suite { background-image: url("images/background_logo.jpg"); background-position: right; background-repeat: no-repeat; left: 15%; width: 85%; height: 80px; }
.fl-theme-app .app-header div.header_suite .span_titre { /* Application de consultation...*/
	color: #fff;
}
.fl-theme-app .app-header div.header_suite div.titreAppli { width: 85%; padding-top: 20px; }
.fl-theme-app .app-header div.header_suite div.titreAppli .span_bigTitre { color: white; font-size: 1.8em; font-weight: bold; }
.fl-theme-app .app-header div.header_suite div.titreAppli .span_titre { color: #fff; font-size: 1em; }
.fl-theme-app .app-header div.header_suite .span_currentUser { color: #f28d00; font-size: 1.2em; font-weight: bold; }
.fl-theme-app .app-header div.header_suite .span_version { color: #fff; font-size: 1em; width: 49%; left: 50%; top: 65%; }


.fl-theme-app .app-pagebar img { margin:15px 15px 0px 35px; }

.fl-theme-app .app-logo { }

/* Welcome
 Keep the top value relative to the text size so that the top position remains good when the browser text size is increased. 
 Set the left width to the width of your logo (plus logo margins).
 This margin prevents it from colliding with the logo if the browser window is shrunk down. 
*/
.fl-theme-app .app-welcome { top:3.5em; left:220px; }
.fl-theme-app .app-welcome { color:#ddd; }
.fl-theme-app .app-welcome a { color:#9999FF; }
.fl-theme-app .app-welcome a:hover { color:#ff6600; }
.fl-theme-app .app-welcome h1 { color:#fff; }