<div class="modal fade model-wide" id="modalMontantDC" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modification de la valeur du montant en Droit Constaté</h4>
      </div>
      <div class="modal-body">
        <form id="editArticle" name="editArticle" method="POST" class="post-form">
          {% csrf_token %}
          <input type="hidden" id="pk" name="pk">
          <input type="hidden" id="type" name="type">
          <div class="form-group row">
            <label for="txtMontantDC" class="col-xs-4">Ancien montant :</label>
            <input readonly type="text" id="txtMontantDCOrigin" name="txtMontantDCOrigin" value=""><br />
          </div>
          <div class="form-group row">
            <label for="txtMontantDC" class="col-xs-4">Nouveau montant :</label>
            <input type="text" id="txtMontantDC" name="txtMontantDC" value=""><br />
          </div>
        </form>
      <div id="result" name="result"></div>
      </div>
      <div class="modal-footer">
        <button id="modal-submitMontantDC" class="save btn btn-primary" name="submitUpdate">Modifier le montant</button>
        <button type="submit" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>